<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Buff_Effect_09_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{159,89},{72,72}}</string>
                <key>offset</key>
                <string>{0,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,7},{72,72}}</string>
                <key>sourceSize</key>
                <string>{96,96}</string>
            </dict>
            <key>Buff_Effect_09_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,85},{80,78}}</string>
                <key>offset</key>
                <string>{-3,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,7},{80,78}}</string>
                <key>sourceSize</key>
                <string>{96,96}</string>
            </dict>
            <key>Buff_Effect_09_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{84,82}}</string>
                <key>offset</key>
                <string>{-3,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,8},{84,82}}</string>
                <key>sourceSize</key>
                <string>{96,96}</string>
            </dict>
            <key>Buff_Effect_09_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{81,89},{76,76}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,8},{76,76}}</string>
                <key>sourceSize</key>
                <string>{96,96}</string>
            </dict>
            <key>Buff_Effect_09_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{87,1},{86,80}}</string>
                <key>offset</key>
                <string>{2,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,6},{86,80}}</string>
                <key>sourceSize</key>
                <string>{96,96}</string>
            </dict>
            <key>Buff_Effect_09_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{169,1},{66,72}}</string>
                <key>offset</key>
                <string>{9,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,11},{66,72}}</string>
                <key>sourceSize</key>
                <string>{96,96}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>BuildingFixEffect.png</string>
            <key>size</key>
            <string>{236,166}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:838340426db556b3354c87ef1a263f17:2e3617c23939dd4e6f018c8e05d6bc28:93a420479b13a9b83b9e1c9c28c380d1$</string>
            <key>textureFileName</key>
            <string>BuildingFixEffect.png</string>
        </dict>
    </dict>
</plist>
