<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Buff_Effect_01_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{437,579},{24,22}}</string>
                <key>offset</key>
                <string>{-8,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,28},{24,22}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>Buff_Effect_01_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{339,1119},{26,22}}</string>
                <key>offset</key>
                <string>{-7,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,28},{26,22}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>Buff_Effect_01_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{339,605},{30,14}}</string>
                <key>offset</key>
                <string>{-3,-14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,39},{30,14}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>Buff_Effect_01_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{303,689},{36,34}}</string>
                <key>offset</key>
                <string>{-1,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,22},{36,34}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>Buff_Effect_01_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{303,649},{38,34}}</string>
                <key>offset</key>
                <string>{-1,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,22},{38,34}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>Buff_Effect_01_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{301,1071},{36,34}}</string>
                <key>offset</key>
                <string>{0,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,22},{36,34}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>Buff_Effect_01_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{445,1079},{38,40}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,14},{38,40}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>Buff_Effect_01_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{437,539},{36,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,13},{36,38}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>Buff_Effect_01_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{303,605},{34,42}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,8},{34,42}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>Buff_Effect_01_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{439,239},{38,40}}</string>
                <key>offset</key>
                <string>{-1,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,8},{38,40}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>Buff_Effect_01_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{299,1007},{36,38}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,9},{36,38}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>Buff_Effect_01_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{301,1109},{36,28}}</string>
                <key>offset</key>
                <string>{-1,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,8},{36,28}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>Buff_Effect_01_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{401,1111},{34,28}}</string>
                <key>offset</key>
                <string>{0,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,7},{34,28}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>Buff_Effect_01_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{299,1047},{34,22}}</string>
                <key>offset</key>
                <string>{0,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,12},{34,22}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>Buff_Effect_01_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{439,281},{34,18}}</string>
                <key>offset</key>
                <string>{1,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,12},{34,18}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>Buff_Effect_01_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{339,637},{26,14}}</string>
                <key>offset</key>
                <string>{4,11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{23,14},{26,14}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>Buff_Effect_01_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{417,887},{24,10}}</string>
                <key>offset</key>
                <string>{5,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,14},{24,10}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>Buff_Effect_01_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{475,281},{20,10}}</string>
                <key>offset</key>
                <string>{7,14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{29,13},{20,10}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>Buff_Effect_01_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{475,539},{3,3}}</string>
                <key>offset</key>
                <string>{-30.5,30.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{3,3}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>Buff_Effect_01_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{475,539},{3,3}}</string>
                <key>offset</key>
                <string>{-30.5,30.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{3,3}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>skill_eff_642_26.png</key>
            <dict>
                <key>frame</key>
                <string>{{301,745},{260,52}}</string>
                <key>offset</key>
                <string>{-3,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{17,17},{260,52}}</string>
                <key>sourceSize</key>
                <string>{300,90}</string>
            </dict>
            <key>skill_eff_642_27.png</key>
            <dict>
                <key>frame</key>
                <string>{{417,605},{280,56}}</string>
                <key>offset</key>
                <string>{-3,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,16},{280,56}}</string>
                <key>sourceSize</key>
                <string>{300,90}</string>
            </dict>
            <key>skill_eff_642_28.png</key>
            <dict>
                <key>frame</key>
                <string>{{355,605},{292,60}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,14},{292,60}}</string>
                <key>sourceSize</key>
                <string>{300,90}</string>
            </dict>
            <key>skill_eff_642_29.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,943},{298,62}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,13},{298,62}}</string>
                <key>sourceSize</key>
                <string>{300,90}</string>
            </dict>
            <key>skill_eff_642_30.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,613},{300,64}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,12},{300,64}}</string>
                <key>sourceSize</key>
                <string>{300,90}</string>
            </dict>
            <key>skill_eff_642_31.png</key>
            <dict>
                <key>frame</key>
                <string>{{371,303},{300,64}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,12},{300,64}}</string>
                <key>sourceSize</key>
                <string>{300,90}</string>
            </dict>
            <key>skill_eff_642_32.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{300,66}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,11},{300,66}}</string>
                <key>sourceSize</key>
                <string>{300,90}</string>
            </dict>
            <key>skill_eff_642_33.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,69},{300,66}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,11},{300,66}}</string>
                <key>sourceSize</key>
                <string>{300,90}</string>
            </dict>
            <key>skill_eff_642_34.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,137},{300,66}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,11},{300,66}}</string>
                <key>sourceSize</key>
                <string>{300,90}</string>
            </dict>
            <key>skill_eff_642_35.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,205},{300,66}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,11},{300,66}}</string>
                <key>sourceSize</key>
                <string>{300,90}</string>
            </dict>
            <key>skill_eff_642_36.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,273},{300,66}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,11},{300,66}}</string>
                <key>sourceSize</key>
                <string>{300,90}</string>
            </dict>
            <key>skill_eff_642_37.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,273},{300,66}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,11},{300,66}}</string>
                <key>sourceSize</key>
                <string>{300,90}</string>
            </dict>
            <key>skill_eff_642_38.png</key>
            <dict>
                <key>frame</key>
                <string>{{303,1},{300,66}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,11},{300,66}}</string>
                <key>sourceSize</key>
                <string>{300,90}</string>
            </dict>
            <key>skill_eff_642_39.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,341},{300,66}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,11},{300,66}}</string>
                <key>sourceSize</key>
                <string>{300,90}</string>
            </dict>
            <key>skill_eff_642_40.png</key>
            <dict>
                <key>frame</key>
                <string>{{371,1},{300,66}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,11},{300,66}}</string>
                <key>sourceSize</key>
                <string>{300,90}</string>
            </dict>
            <key>skill_eff_642_41.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,409},{300,66}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,11},{300,66}}</string>
                <key>sourceSize</key>
                <string>{300,90}</string>
            </dict>
            <key>skill_eff_642_42.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,477},{300,66}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,11},{300,66}}</string>
                <key>sourceSize</key>
                <string>{300,90}</string>
            </dict>
            <key>skill_eff_642_43.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,477},{300,66}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,11},{300,66}}</string>
                <key>sourceSize</key>
                <string>{300,90}</string>
            </dict>
            <key>skill_eff_642_44.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,545},{300,66}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,11},{300,66}}</string>
                <key>sourceSize</key>
                <string>{300,90}</string>
            </dict>
            <key>skill_eff_642_45.png</key>
            <dict>
                <key>frame</key>
                <string>{{303,303},{300,66}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,11},{300,66}}</string>
                <key>sourceSize</key>
                <string>{300,90}</string>
            </dict>
            <key>skill_eff_642_46.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,679},{300,64}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,12},{300,64}}</string>
                <key>sourceSize</key>
                <string>{300,90}</string>
            </dict>
            <key>skill_eff_642_47.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1007},{296,64}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,12},{296,64}}</string>
                <key>sourceSize</key>
                <string>{300,90}</string>
            </dict>
            <key>skill_eff_642_48.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,745},{298,64}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,13},{298,64}}</string>
                <key>sourceSize</key>
                <string>{300,90}</string>
            </dict>
            <key>skill_eff_642_49.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,811},{298,64}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,13},{298,64}}</string>
                <key>sourceSize</key>
                <string>{300,90}</string>
            </dict>
            <key>skill_eff_642_50.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,877},{298,64}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,13},{298,64}}</string>
                <key>sourceSize</key>
                <string>{300,90}</string>
            </dict>
            <key>skill_eff_642_51.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1073},{298,62}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,13},{298,62}}</string>
                <key>sourceSize</key>
                <string>{300,90}</string>
            </dict>
            <key>skill_eff_642_52.png</key>
            <dict>
                <key>frame</key>
                <string>{{439,1},{236,44}}</string>
                <key>offset</key>
                <string>{-3,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{29,29},{236,44}}</string>
                <key>sourceSize</key>
                <string>{300,90}</string>
            </dict>
            <key>skill_eff_642_53.png</key>
            <dict>
                <key>frame</key>
                <string>{{437,303},{234,44}}</string>
                <key>offset</key>
                <string>{-4,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{29,29},{234,44}}</string>
                <key>sourceSize</key>
                <string>{300,90}</string>
            </dict>
            <key>skill_eff_642_54.png</key>
            <dict>
                <key>frame</key>
                <string>{{355,899},{218,44}}</string>
                <key>offset</key>
                <string>{-2,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{39,29},{218,44}}</string>
                <key>sourceSize</key>
                <string>{300,90}</string>
            </dict>
            <key>skill_eff_642_55.png</key>
            <dict>
                <key>frame</key>
                <string>{{355,899},{218,44}}</string>
                <key>offset</key>
                <string>{-2,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{39,29},{218,44}}</string>
                <key>sourceSize</key>
                <string>{300,90}</string>
            </dict>
            <key>skill_eff_642_56.png</key>
            <dict>
                <key>frame</key>
                <string>{{401,899},{210,42}}</string>
                <key>offset</key>
                <string>{-2,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{43,30},{210,42}}</string>
                <key>sourceSize</key>
                <string>{300,90}</string>
            </dict>
            <key>skill_eff_642_57.png</key>
            <dict>
                <key>frame</key>
                <string>{{445,887},{190,40}}</string>
                <key>offset</key>
                <string>{-3,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{52,31},{190,40}}</string>
                <key>sourceSize</key>
                <string>{300,90}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>ChangeTeamEffect.png</string>
            <key>size</key>
            <string>{486,1142}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5d393229dd5de98298f3ca3264fb22ac:1d6d3bd7b558eb0705f408a558513d4f:ea8544b7782a95c760fdfbf06fc09a8b$</string>
            <key>textureFileName</key>
            <string>ChangeTeamEffect.png</string>
        </dict>
    </dict>
</plist>
