<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>button_empty_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{778,824},{230,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{230,110}}</string>
                <key>sourceSize</key>
                <string>{230,110}</string>
            </dict>
            <key>button_empty_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1504},{204,97}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{204,97}}</string>
                <key>sourceSize</key>
                <string>{204,97}</string>
            </dict>
            <key>button_restart.png</key>
            <dict>
                <key>frame</key>
                <string>{{891,936},{123,133}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{123,133}}</string>
                <key>sourceSize</key>
                <string>{123,133}</string>
            </dict>
            <key>button_right.png</key>
            <dict>
                <key>frame</key>
                <string>{{891,1071},{123,133}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{123,133}}</string>
                <key>sourceSize</key>
                <string>{123,133}</string>
            </dict>
            <key>checkout_1start.png</key>
            <dict>
                <key>frame</key>
                <string>{{207,1402},{340,190}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{340,190}}</string>
                <key>sourceSize</key>
                <string>{340,190}</string>
            </dict>
            <key>checkout_2start.png</key>
            <dict>
                <key>frame</key>
                <string>{{318,1058},{340,190}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{340,190}}</string>
                <key>sourceSize</key>
                <string>{340,190}</string>
            </dict>
            <key>checkout_3start.png</key>
            <dict>
                <key>frame</key>
                <string>{{510,1058},{340,190}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{340,190}}</string>
                <key>sourceSize</key>
                <string>{340,190}</string>
            </dict>
            <key>checkout_crystal_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{696,936},{109,169}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{109,169}}</string>
                <key>sourceSize</key>
                <string>{109,169}</string>
            </dict>
            <key>checkout_crystal_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{702,1208},{147,175}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{147,175}}</string>
                <key>sourceSize</key>
                <string>{147,175}</string>
            </dict>
            <key>checkout_crystal_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{702,1047},{159,175}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{159,175}}</string>
                <key>sourceSize</key>
                <string>{159,175}</string>
            </dict>
            <key>checkout_no.png</key>
            <dict>
                <key>frame</key>
                <string>{{549,1400},{340,190}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{340,190}}</string>
                <key>sourceSize</key>
                <string>{340,190}</string>
            </dict>
            <key>checkout_star_failed.png</key>
            <dict>
                <key>frame</key>
                <string>{{124,1058},{342,192}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{342,192}}</string>
                <key>sourceSize</key>
                <string>{342,192}</string>
            </dict>
            <key>checkout_table.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{617,784}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{617,784}}</string>
                <key>sourceSize</key>
                <string>{617,784}</string>
            </dict>
            <key>header_empty.png</key>
            <dict>
                <key>frame</key>
                <string>{{787,1},{693,217}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{693,217}}</string>
                <key>sourceSize</key>
                <string>{693,217}</string>
            </dict>
            <key>header_failed.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,620},{693,217}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{693,217}}</string>
                <key>sourceSize</key>
                <string>{693,217}</string>
            </dict>
            <key>header_win.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,839},{693,217}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{693,217}}</string>
                <key>sourceSize</key>
                <string>{693,217}</string>
            </dict>
            <key>normal_window.png</key>
            <dict>
                <key>frame</key>
                <string>{{696,620},{268,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{268,80}}</string>
                <key>sourceSize</key>
                <string>{268,80}</string>
            </dict>
            <key>s_window.png</key>
            <dict>
                <key>frame</key>
                <string>{{851,1208},{150,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,150}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>text_failed.png</key>
            <dict>
                <key>frame</key>
                <string>{{778,696},{236,126}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{236,126}}</string>
                <key>sourceSize</key>
                <string>{236,126}</string>
            </dict>
            <key>text_win.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1058},{444,121}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{444,121}}</string>
                <key>sourceSize</key>
                <string>{444,121}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>CheckOutPage.png</string>
            <key>size</key>
            <string>{1015,1602}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:833beae5e6af29b6cec170148e80ea40:305cb7635e80e4c363d392ca3e165a01:609810f2c8f0648a2eaedcc70ec7c7c0$</string>
            <key>textureFileName</key>
            <string>CheckOutPage.png</string>
        </dict>
    </dict>
</plist>
