<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>button_restart.png</key>
            <dict>
                <key>frame</key>
                <string>{{888,825},{123,133}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{123,133}}</string>
                <key>sourceSize</key>
                <string>{123,133}</string>
            </dict>
            <key>button_right.png</key>
            <dict>
                <key>frame</key>
                <string>{{1023,823},{123,133}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{123,133}}</string>
                <key>sourceSize</key>
                <string>{123,133}</string>
            </dict>
            <key>checkout_1start.png</key>
            <dict>
                <key>frame</key>
                <string>{{964,439},{340,190}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{340,190}}</string>
                <key>sourceSize</key>
                <string>{340,190}</string>
            </dict>
            <key>checkout_2start.png</key>
            <dict>
                <key>frame</key>
                <string>{{620,633},{340,190}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{340,190}}</string>
                <key>sourceSize</key>
                <string>{340,190}</string>
            </dict>
            <key>checkout_3start.png</key>
            <dict>
                <key>frame</key>
                <string>{{964,631},{340,190}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{340,190}}</string>
                <key>sourceSize</key>
                <string>{340,190}</string>
            </dict>
            <key>checkout_crystal_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{447,787},{109,169}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{109,169}}</string>
                <key>sourceSize</key>
                <string>{109,169}</string>
            </dict>
            <key>checkout_crystal_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1315,239},{147,175}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{147,175}}</string>
                <key>sourceSize</key>
                <string>{147,175}</string>
            </dict>
            <key>checkout_crystal_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1306,781},{159,175}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{159,175}}</string>
                <key>sourceSize</key>
                <string>{159,175}</string>
            </dict>
            <key>checkout_no.png</key>
            <dict>
                <key>frame</key>
                <string>{{1306,439},{340,190}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{340,190}}</string>
                <key>sourceSize</key>
                <string>{340,190}</string>
            </dict>
            <key>checkout_star_failed.png</key>
            <dict>
                <key>frame</key>
                <string>{{620,439},{342,192}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{342,192}}</string>
                <key>sourceSize</key>
                <string>{342,192}</string>
            </dict>
            <key>checkout_table.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{617,784}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{617,784}}</string>
                <key>sourceSize</key>
                <string>{617,784}</string>
            </dict>
            <key>header_failed.png</key>
            <dict>
                <key>frame</key>
                <string>{{620,1},{693,217}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{693,217}}</string>
                <key>sourceSize</key>
                <string>{693,217}</string>
            </dict>
            <key>header_win.png</key>
            <dict>
                <key>frame</key>
                <string>{{620,220},{693,217}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{693,217}}</string>
                <key>sourceSize</key>
                <string>{693,217}</string>
            </dict>
            <key>normal_window.png</key>
            <dict>
                <key>frame</key>
                <string>{{618,825},{268,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{268,80}}</string>
                <key>sourceSize</key>
                <string>{268,80}</string>
            </dict>
            <key>text_failed.png</key>
            <dict>
                <key>frame</key>
                <string>{{1315,1},{236,126}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{236,126}}</string>
                <key>sourceSize</key>
                <string>{236,126}</string>
            </dict>
            <key>text_win.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,787},{444,121}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{444,121}}</string>
                <key>sourceSize</key>
                <string>{444,121}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>CheckOutPage.png</string>
            <key>size</key>
            <string>{1497,949}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e1f488aea3edc8d742e0c9110cf05064:b7688706dc8164addb03b0aa6d151790:609810f2c8f0648a2eaedcc70ec7c7c0$</string>
            <key>textureFileName</key>
            <string>CheckOutPage.png</string>
        </dict>
    </dict>
</plist>
