<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>DisplayANiLowerAnchor00.png</key>
            <dict>
                <key>frame</key>
                <string>{{889,335},{174,296}}</string>
                <key>offset</key>
                <string>{-12,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{41,6},{174,296}}</string>
                <key>sourceSize</key>
                <string>{280,302}</string>
            </dict>
            <key>DisplayANiLowerAnchor01.png</key>
            <dict>
                <key>frame</key>
                <string>{{591,165},{168,296}}</string>
                <key>offset</key>
                <string>{-9,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{47,6},{168,296}}</string>
                <key>sourceSize</key>
                <string>{280,302}</string>
            </dict>
            <key>DisplayANiLowerAnchor02.png</key>
            <dict>
                <key>frame</key>
                <string>{{295,1},{158,294}}</string>
                <key>offset</key>
                <string>{-4,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{57,8},{158,294}}</string>
                <key>sourceSize</key>
                <string>{280,302}</string>
            </dict>
            <key>DisplayANiLowerAnchor03.png</key>
            <dict>
                <key>frame</key>
                <string>{{295,161},{168,294}}</string>
                <key>offset</key>
                <string>{9,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{65,8},{168,294}}</string>
                <key>sourceSize</key>
                <string>{280,302}</string>
            </dict>
            <key>DisplayANiLowerAnchor04.png</key>
            <dict>
                <key>frame</key>
                <string>{{293,509},{192,294}}</string>
                <key>offset</key>
                <string>{20,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{64,8},{192,294}}</string>
                <key>sourceSize</key>
                <string>{280,302}</string>
            </dict>
            <key>DisplayANiLowerAnchor05.png</key>
            <dict>
                <key>frame</key>
                <string>{{289,703},{212,296}}</string>
                <key>offset</key>
                <string>{25,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{59,6},{212,296}}</string>
                <key>sourceSize</key>
                <string>{280,302}</string>
            </dict>
            <key>DisplayANiLowerAnchor06.png</key>
            <dict>
                <key>frame</key>
                <string>{{289,923},{226,300}}</string>
                <key>offset</key>
                <string>{24,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{51,2},{226,300}}</string>
                <key>sourceSize</key>
                <string>{280,302}</string>
            </dict>
            <key>DisplayANiLowerAnchor07.png</key>
            <dict>
                <key>frame</key>
                <string>{{591,937},{232,302}}</string>
                <key>offset</key>
                <string>{18,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{42,0},{232,302}}</string>
                <key>sourceSize</key>
                <string>{280,302}</string>
            </dict>
            <key>DisplayANiLowerAnchor08.png</key>
            <dict>
                <key>frame</key>
                <string>{{585,1171},{232,302}}</string>
                <key>offset</key>
                <string>{12,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{36,0},{232,302}}</string>
                <key>sourceSize</key>
                <string>{280,302}</string>
            </dict>
            <key>DisplayANiLowerAnchor09.png</key>
            <dict>
                <key>frame</key>
                <string>{{579,1405},{232,302}}</string>
                <key>offset</key>
                <string>{7,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{31,0},{232,302}}</string>
                <key>sourceSize</key>
                <string>{280,302}</string>
            </dict>
            <key>DisplayANiLowerAnchor10.png</key>
            <dict>
                <key>frame</key>
                <string>{{883,1407},{232,302}}</string>
                <key>offset</key>
                <string>{4,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{28,0},{232,302}}</string>
                <key>sourceSize</key>
                <string>{280,302}</string>
            </dict>
            <key>DisplayANiLowerAnchor11.png</key>
            <dict>
                <key>frame</key>
                <string>{{579,1639},{232,302}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{26,0},{232,302}}</string>
                <key>sourceSize</key>
                <string>{280,302}</string>
            </dict>
            <key>DisplayANiLowerAnchor12.png</key>
            <dict>
                <key>frame</key>
                <string>{{883,1641},{234,302}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{24,0},{234,302}}</string>
                <key>sourceSize</key>
                <string>{280,302}</string>
            </dict>
            <key>DisplayANiLowerAnchor13.png</key>
            <dict>
                <key>frame</key>
                <string>{{883,1641},{234,302}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{24,0},{234,302}}</string>
                <key>sourceSize</key>
                <string>{280,302}</string>
            </dict>
            <key>DisplayANiLowerAnchor14.png</key>
            <dict>
                <key>frame</key>
                <string>{{883,1641},{234,302}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{24,0},{234,302}}</string>
                <key>sourceSize</key>
                <string>{280,302}</string>
            </dict>
            <key>DisplayANiLowerAnchor15.png</key>
            <dict>
                <key>frame</key>
                <string>{{875,713},{222,294}}</string>
                <key>offset</key>
                <string>{-16,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,8},{222,294}}</string>
                <key>sourceSize</key>
                <string>{280,302}</string>
            </dict>
            <key>DisplayANiLowerAnchor16.png</key>
            <dict>
                <key>frame</key>
                <string>{{289,1151},{234,294}}</string>
                <key>offset</key>
                <string>{-18,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,8},{234,294}}</string>
                <key>sourceSize</key>
                <string>{280,302}</string>
            </dict>
            <key>DisplayANiLowerAnchor17.png</key>
            <dict>
                <key>frame</key>
                <string>{{895,937},{232,292}}</string>
                <key>offset</key>
                <string>{-21,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,10},{232,292}}</string>
                <key>sourceSize</key>
                <string>{280,302}</string>
            </dict>
            <key>DisplayANiLowerAnchor18.png</key>
            <dict>
                <key>frame</key>
                <string>{{889,1171},{234,290}}</string>
                <key>offset</key>
                <string>{-23,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,12},{234,290}}</string>
                <key>sourceSize</key>
                <string>{280,302}</string>
            </dict>
            <key>DisplayANiLowerAnchor19.png</key>
            <dict>
                <key>frame</key>
                <string>{{289,1387},{234,288}}</string>
                <key>offset</key>
                <string>{-22,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,14},{234,288}}</string>
                <key>sourceSize</key>
                <string>{280,302}</string>
            </dict>
            <key>DisplayANiLowerAnchor20.png</key>
            <dict>
                <key>frame</key>
                <string>{{289,1623},{238,288}}</string>
                <key>offset</key>
                <string>{-21,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,14},{238,288}}</string>
                <key>sourceSize</key>
                <string>{280,302}</string>
            </dict>
            <key>DisplayANiLowerAnchor21.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1371},{240,286}}</string>
                <key>offset</key>
                <string>{-20,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,16},{240,286}}</string>
                <key>sourceSize</key>
                <string>{280,302}</string>
            </dict>
            <key>DisplayANiLowerAnchor22.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1613},{240,286}}</string>
                <key>offset</key>
                <string>{-19,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,16},{240,286}}</string>
                <key>sourceSize</key>
                <string>{280,302}</string>
            </dict>
            <key>DisplayANiLowerAnchor23.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1131},{238,286}}</string>
                <key>offset</key>
                <string>{-20,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,16},{238,286}}</string>
                <key>sourceSize</key>
                <string>{280,302}</string>
            </dict>
            <key>DisplayANiLowerAnchor24.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,901},{228,286}}</string>
                <key>offset</key>
                <string>{-21,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,16},{228,286}}</string>
                <key>sourceSize</key>
                <string>{280,302}</string>
            </dict>
            <key>DisplayANiLowerAnchor25.png</key>
            <dict>
                <key>frame</key>
                <string>{{587,703},{218,286}}</string>
                <key>offset</key>
                <string>{-23,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,16},{218,286}}</string>
                <key>sourceSize</key>
                <string>{280,302}</string>
            </dict>
            <key>DisplayANiLowerAnchor26.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,689},{210,286}}</string>
                <key>offset</key>
                <string>{-25,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,16},{210,286}}</string>
                <key>sourceSize</key>
                <string>{280,302}</string>
            </dict>
            <key>DisplayANiLowerAnchor27.png</key>
            <dict>
                <key>frame</key>
                <string>{{879,511},{200,288}}</string>
                <key>offset</key>
                <string>{-25,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{15,14},{200,288}}</string>
                <key>sourceSize</key>
                <string>{280,302}</string>
            </dict>
            <key>DisplayANiLowerAnchor28.png</key>
            <dict>
                <key>frame</key>
                <string>{{589,509},{192,288}}</string>
                <key>offset</key>
                <string>{-24,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,14},{192,288}}</string>
                <key>sourceSize</key>
                <string>{280,302}</string>
            </dict>
            <key>DisplayANiLowerAnchor29.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,503},{184,290}}</string>
                <key>offset</key>
                <string>{-21,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{27,12},{184,290}}</string>
                <key>sourceSize</key>
                <string>{280,302}</string>
            </dict>
            <key>DisplayANiLowerAnchor30.png</key>
            <dict>
                <key>frame</key>
                <string>{{299,331},{176,290}}</string>
                <key>offset</key>
                <string>{-18,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{34,12},{176,290}}</string>
                <key>sourceSize</key>
                <string>{280,302}</string>
            </dict>
            <key>DisplayANiLowerAnchor31.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,159},{168,292}}</string>
                <key>offset</key>
                <string>{-14,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{42,10},{168,292}}</string>
                <key>sourceSize</key>
                <string>{280,302}</string>
            </dict>
            <key>DisplayANiLowerAnchor32.png</key>
            <dict>
                <key>frame</key>
                <string>{{591,1},{162,292}}</string>
                <key>offset</key>
                <string>{-11,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{48,10},{162,292}}</string>
                <key>sourceSize</key>
                <string>{280,302}</string>
            </dict>
            <key>DisplayANiLowerAnchor33.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{156,292}}</string>
                <key>offset</key>
                <string>{-9,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{53,10},{156,292}}</string>
                <key>sourceSize</key>
                <string>{280,302}</string>
            </dict>
            <key>DisplayANiLowerAnchor34.png</key>
            <dict>
                <key>frame</key>
                <string>{{885,1},{162,294}}</string>
                <key>offset</key>
                <string>{-11,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{48,8},{162,294}}</string>
                <key>sourceSize</key>
                <string>{280,302}</string>
            </dict>
            <key>DisplayANiLowerAnchor35.png</key>
            <dict>
                <key>frame</key>
                <string>{{889,165},{168,294}}</string>
                <key>offset</key>
                <string>{-13,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{43,8},{168,294}}</string>
                <key>sourceSize</key>
                <string>{280,302}</string>
            </dict>
            <key>DisplayANiLowerAnchor36.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,331},{170,296}}</string>
                <key>offset</key>
                <string>{-12,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{43,6},{170,296}}</string>
                <key>sourceSize</key>
                <string>{280,302}</string>
            </dict>
            <key>DisplayANiLowerAnchor37.png</key>
            <dict>
                <key>frame</key>
                <string>{{591,335},{172,296}}</string>
                <key>offset</key>
                <string>{-12,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{42,6},{172,296}}</string>
                <key>sourceSize</key>
                <string>{280,302}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>DisplayAniLowerAnchor.png</string>
            <key>size</key>
            <string>{1188,1876}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:35c6a4d75f7f88740037e2bf0dfa59ca:3793e3782ca56f96c77ffae920ee4abb:44a96816d9979e4ec26a0145614053ee$</string>
            <key>textureFileName</key>
            <string>DisplayAniLowerAnchor.png</string>
        </dict>
    </dict>
</plist>
