<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>DisplayerFarmerSpearBlue-walk_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1127},{191,354}}</string>
                <key>offset</key>
                <string>{-19,9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{191,354}}</string>
                <key>sourceSize</key>
                <string>{229,374}</string>
            </dict>
            <key>DisplayerFarmerSpearBlue-walk_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,936},{189,358}}</string>
                <key>offset</key>
                <string>{-19,8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{189,358}}</string>
                <key>sourceSize</key>
                <string>{229,374}</string>
            </dict>
            <key>DisplayerFarmerSpearBlue-walk_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{649,1233},{191,360}}</string>
                <key>offset</key>
                <string>{-18,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{191,360}}</string>
                <key>sourceSize</key>
                <string>{229,374}</string>
            </dict>
            <key>DisplayerFarmerSpearBlue-walk_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{585,1426},{193,358}}</string>
                <key>offset</key>
                <string>{-17,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,6},{193,358}}</string>
                <key>sourceSize</key>
                <string>{229,374}</string>
            </dict>
            <key>DisplayerFarmerSpearBlue-walk_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{355,369},{187,354}}</string>
                <key>offset</key>
                <string>{-10,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,14},{187,354}}</string>
                <key>sourceSize</key>
                <string>{229,374}</string>
            </dict>
            <key>DisplayerFarmerSpearBlue-walk_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,184},{183,346}}</string>
                <key>offset</key>
                <string>{-5,-13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{18,27},{183,346}}</string>
                <key>sourceSize</key>
                <string>{229,374}</string>
            </dict>
            <key>DisplayerFarmerSpearBlue-walk_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,556},{187,332}}</string>
                <key>offset</key>
                <string>{-3,-20}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{18,41},{187,332}}</string>
                <key>sourceSize</key>
                <string>{229,374}</string>
            </dict>
            <key>DisplayerFarmerSpearBlue-walk_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{693,642},{191,316}}</string>
                <key>offset</key>
                <string>{0,-24}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{19,53},{191,316}}</string>
                <key>sourceSize</key>
                <string>{229,374}</string>
            </dict>
            <key>DisplayerFarmerSpearBlue-walk_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{677,1028},{203,306}}</string>
                <key>offset</key>
                <string>{3,-25}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,59},{203,306}}</string>
                <key>sourceSize</key>
                <string>{229,374}</string>
            </dict>
            <key>DisplayerFarmerSpearBlue-walk_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{711,425},{215,298}}</string>
                <key>offset</key>
                <string>{2,-26}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,64},{215,298}}</string>
                <key>sourceSize</key>
                <string>{229,374}</string>
            </dict>
            <key>DisplayerFarmerSpearBlue-walk_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{293,1356},{225,290}}</string>
                <key>offset</key>
                <string>{0,-26}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,68},{225,290}}</string>
                <key>sourceSize</key>
                <string>{229,374}</string>
            </dict>
            <key>DisplayerFarmerSpearBlue-walk_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{357,1131},{223,290}}</string>
                <key>offset</key>
                <string>{-1,-24}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,66},{223,290}}</string>
                <key>sourceSize</key>
                <string>{229,374}</string>
            </dict>
            <key>DisplayerFarmerSpearBlue-walk_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1320},{223,290}}</string>
                <key>offset</key>
                <string>{-2,-24}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,66},{223,290}}</string>
                <key>sourceSize</key>
                <string>{229,374}</string>
            </dict>
            <key>DisplayerFarmerSpearBlue-walk_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{719,1},{215,296}}</string>
                <key>offset</key>
                <string>{-2,-24}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,63},{215,296}}</string>
                <key>sourceSize</key>
                <string>{229,374}</string>
            </dict>
            <key>DisplayerFarmerSpearBlue-walk_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{711,218},{205,304}}</string>
                <key>offset</key>
                <string>{-1,-23}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,58},{205,304}}</string>
                <key>sourceSize</key>
                <string>{229,374}</string>
            </dict>
            <key>DisplayerFarmerSpearBlue-walk_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{361,936},{193,314}}</string>
                <key>offset</key>
                <string>{3,-22}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{21,52},{193,314}}</string>
                <key>sourceSize</key>
                <string>{229,374}</string>
            </dict>
            <key>DisplayerFarmerSpearBlue-walk_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{687,835},{191,326}}</string>
                <key>offset</key>
                <string>{2,-21}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{21,45},{191,326}}</string>
                <key>sourceSize</key>
                <string>{229,374}</string>
            </dict>
            <key>DisplayerFarmerSpearBlue-walk_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{349,745},{189,336}}</string>
                <key>offset</key>
                <string>{1,-19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{21,38},{189,336}}</string>
                <key>sourceSize</key>
                <string>{229,374}</string>
            </dict>
            <key>DisplayerFarmerSpearBlue-walk_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,745},{187,346}}</string>
                <key>offset</key>
                <string>{-1,-14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,28},{187,346}}</string>
                <key>sourceSize</key>
                <string>{229,374}</string>
            </dict>
            <key>DisplayerFarmerSpearBlue-walk_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,369},{185,352}}</string>
                <key>offset</key>
                <string>{-3,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{19,19},{185,352}}</string>
                <key>sourceSize</key>
                <string>{229,374}</string>
            </dict>
            <key>DisplayerFarmerSpearBlue-walk_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{181,354}}</string>
                <key>offset</key>
                <string>{-5,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{19,10},{181,354}}</string>
                <key>sourceSize</key>
                <string>{229,374}</string>
            </dict>
            <key>DisplayerFarmerSpearBlue-walk_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{357,1},{181,360}}</string>
                <key>offset</key>
                <string>{-8,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,4},{181,360}}</string>
                <key>sourceSize</key>
                <string>{229,374}</string>
            </dict>
            <key>DisplayerFarmerSpearBlue-walk_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{349,184},{183,360}}</string>
                <key>offset</key>
                <string>{-13,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,1},{183,360}}</string>
                <key>sourceSize</key>
                <string>{229,374}</string>
            </dict>
            <key>DisplayerFarmerSpearBlue-walk_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{335,558},{185,356}}</string>
                <key>offset</key>
                <string>{-16,8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,1},{185,356}}</string>
                <key>sourceSize</key>
                <string>{229,374}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>DisplayerAniFarmerSpearBlue.png</string>
            <key>size</key>
            <string>{1016,1620}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:25398e1782d0d4e3a67c72fda58a8254:6d1e6cb0e04491c779e9a36f61ada788:785bc85fd9ece537db635a96b5a9ad24$</string>
            <key>textureFileName</key>
            <string>DisplayerAniFarmerSpearBlue.png</string>
        </dict>
    </dict>
</plist>
