<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>DisplayAniLowerMasterBlue-stand01_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,775},{276,311}}</string>
                <key>offset</key>
                <string>{0,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,16},{276,311}}</string>
                <key>sourceSize</key>
                <string>{284,329}</string>
            </dict>
            <key>DisplayAniLowerMasterBlue-stand01_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1053},{278,311}}</string>
                <key>offset</key>
                <string>{0,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,16},{278,311}}</string>
                <key>sourceSize</key>
                <string>{284,329}</string>
            </dict>
            <key>DisplayAniLowerMasterBlue-stand01_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{314,797},{276,311}}</string>
                <key>offset</key>
                <string>{1,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,16},{276,311}}</string>
                <key>sourceSize</key>
                <string>{284,329}</string>
            </dict>
            <key>DisplayAniLowerMasterBlue-stand01_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{627,805},{276,309}}</string>
                <key>offset</key>
                <string>{1,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,17},{276,309}}</string>
                <key>sourceSize</key>
                <string>{284,329}</string>
            </dict>
            <key>DisplayAniLowerMasterBlue-stand01_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{938,805},{276,311}}</string>
                <key>offset</key>
                <string>{1,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,15},{276,311}}</string>
                <key>sourceSize</key>
                <string>{284,329}</string>
            </dict>
            <key>DisplayAniLowerMasterBlue-stand01_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{1251,807},{276,309}}</string>
                <key>offset</key>
                <string>{1,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,16},{276,309}}</string>
                <key>sourceSize</key>
                <string>{284,329}</string>
            </dict>
            <key>DisplayAniLowerMasterBlue-stand01_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{1253,531},{274,307}}</string>
                <key>offset</key>
                <string>{0,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,18},{274,307}}</string>
                <key>sourceSize</key>
                <string>{284,329}</string>
            </dict>
            <key>DisplayAniLowerMasterBlue-stand01_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{1562,807},{276,311}}</string>
                <key>offset</key>
                <string>{1,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,14},{276,311}}</string>
                <key>sourceSize</key>
                <string>{284,329}</string>
            </dict>
            <key>DisplayAniLowerMasterBlue-stand01_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{316,521},{272,303}}</string>
                <key>offset</key>
                <string>{0,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,22},{272,303}}</string>
                <key>sourceSize</key>
                <string>{284,329}</string>
            </dict>
            <key>DisplayAniLowerMasterBlue-stand01_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{1221,259},{270,303}}</string>
                <key>offset</key>
                <string>{-1,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,21},{270,303}}</string>
                <key>sourceSize</key>
                <string>{284,329}</string>
            </dict>
            <key>DisplayAniLowerMasterBlue-stand01_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{1526,259},{270,303}}</string>
                <key>offset</key>
                <string>{-1,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,22},{270,303}}</string>
                <key>sourceSize</key>
                <string>{284,329}</string>
            </dict>
            <key>DisplayAniLowerMasterBlue-stand01_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{607,255},{264,299}}</string>
                <key>offset</key>
                <string>{-5,-11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,26},{264,299}}</string>
                <key>sourceSize</key>
                <string>{284,329}</string>
            </dict>
            <key>DisplayAniLowerMasterBlue-stand01_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,215},{258,295}}</string>
                <key>offset</key>
                <string>{-8,-13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,30},{258,295}}</string>
                <key>sourceSize</key>
                <string>{284,329}</string>
            </dict>
            <key>DisplayAniLowerMasterBlue-stand01_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{894,1},{252,295}}</string>
                <key>offset</key>
                <string>{-11,-13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,30},{252,295}}</string>
                <key>sourceSize</key>
                <string>{284,329}</string>
            </dict>
            <key>DisplayAniLowerMasterBlue-stand01_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{298,1},{238,295}}</string>
                <key>offset</key>
                <string>{-18,-14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,31},{238,295}}</string>
                <key>sourceSize</key>
                <string>{284,329}</string>
            </dict>
            <key>DisplayAniLowerMasterBlue-stand01_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{212,295}}</string>
                <key>offset</key>
                <string>{-31,-14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,31},{212,295}}</string>
                <key>sourceSize</key>
                <string>{284,329}</string>
            </dict>
            <key>DisplayAniLowerMasterBlue-stand01_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{595,1},{238,297}}</string>
                <key>offset</key>
                <string>{-19,-14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,30},{238,297}}</string>
                <key>sourceSize</key>
                <string>{284,329}</string>
            </dict>
            <key>DisplayAniLowerMasterBlue-stand01_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{1191,1},{252,295}}</string>
                <key>offset</key>
                <string>{-12,-15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,32},{252,295}}</string>
                <key>sourceSize</key>
                <string>{284,329}</string>
            </dict>
            <key>DisplayAniLowerMasterBlue-stand01_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{1488,1},{256,301}}</string>
                <key>offset</key>
                <string>{-9,-12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,26},{256,301}}</string>
                <key>sourceSize</key>
                <string>{284,329}</string>
            </dict>
            <key>DisplayAniLowerMasterBlue-stand01_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{298,241},{260,307}}</string>
                <key>offset</key>
                <string>{-7,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,21},{260,307}}</string>
                <key>sourceSize</key>
                <string>{284,329}</string>
            </dict>
            <key>DisplayAniLowerMasterBlue-stand01_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{908,255},{266,311}}</string>
                <key>offset</key>
                <string>{-5,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,17},{266,311}}</string>
                <key>sourceSize</key>
                <string>{284,329}</string>
            </dict>
            <key>DisplayAniLowerMasterBlue-stand01_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,503},{270,313}}</string>
                <key>offset</key>
                <string>{-3,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,16},{270,313}}</string>
                <key>sourceSize</key>
                <string>{284,329}</string>
            </dict>
            <key>DisplayAniLowerMasterBlue-stand01_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{621,523},{272,313}}</string>
                <key>offset</key>
                <string>{-4,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,16},{272,313}}</string>
                <key>sourceSize</key>
                <string>{284,329}</string>
            </dict>
            <key>DisplayAniLowerMasterBlue-stand01_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{936,531},{272,315}}</string>
                <key>offset</key>
                <string>{-4,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,14},{272,315}}</string>
                <key>sourceSize</key>
                <string>{284,329}</string>
            </dict>
            <key>DisplayAniLowerMasterBlue-stand01_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{1562,531},{274,315}}</string>
                <key>offset</key>
                <string>{-3,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,14},{274,315}}</string>
                <key>sourceSize</key>
                <string>{284,329}</string>
            </dict>
            <key>DisplayAniLowerMasterBlue-stand01_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{314,1083},{276,317}}</string>
                <key>offset</key>
                <string>{-2,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,12},{276,317}}</string>
                <key>sourceSize</key>
                <string>{284,329}</string>
            </dict>
            <key>DisplayAniLowerMasterBlue-stand01_26.png</key>
            <dict>
                <key>frame</key>
                <string>{{633,1083},{276,317}}</string>
                <key>offset</key>
                <string>{-2,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,12},{276,317}}</string>
                <key>sourceSize</key>
                <string>{284,329}</string>
            </dict>
            <key>DisplayAniLowerMasterBlue-stand01_27.png</key>
            <dict>
                <key>frame</key>
                <string>{{952,1085},{276,317}}</string>
                <key>offset</key>
                <string>{-1,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,12},{276,317}}</string>
                <key>sourceSize</key>
                <string>{284,329}</string>
            </dict>
            <key>DisplayAniLowerMasterBlue-stand01_28.png</key>
            <dict>
                <key>frame</key>
                <string>{{1271,1085},{276,315}}</string>
                <key>offset</key>
                <string>{-1,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,13},{276,315}}</string>
                <key>sourceSize</key>
                <string>{284,329}</string>
            </dict>
            <key>DisplayAniLowerMasterBlue-stand01_29.png</key>
            <dict>
                <key>frame</key>
                <string>{{1588,1085},{276,313}}</string>
                <key>offset</key>
                <string>{0,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,15},{276,313}}</string>
                <key>sourceSize</key>
                <string>{284,329}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>DisplayAniLowerMasterBlue.png</string>
            <key>size</key>
            <string>{1902,1362}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6a82f94e2a67ec00c9945d6c6730e59b:cdead23857f5d3a6b9df94437e14776a:c2dd3f6894b08f1ee52f1c58d1756a62$</string>
            <key>textureFileName</key>
            <string>DisplayAniLowerMasterBlue.png</string>
        </dict>
    </dict>
</plist>
