<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>DisplayAniFarmerCavalierBlue-walk_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,410},{501,413}}</string>
                <key>offset</key>
                <string>{7,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{33,38},{501,413}}</string>
                <key>sourceSize</key>
                <string>{553,475}</string>
            </dict>
            <key>DisplayAniFarmerCavalierBlue-walk_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{494,1},{495,407}}</string>
                <key>offset</key>
                <string>{8,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{37,44},{495,407}}</string>
                <key>sourceSize</key>
                <string>{553,475}</string>
            </dict>
            <key>DisplayAniFarmerCavalierBlue-walk_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{491,403}}</string>
                <key>offset</key>
                <string>{6,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{37,49},{491,403}}</string>
                <key>sourceSize</key>
                <string>{553,475}</string>
            </dict>
            <key>DisplayAniFarmerCavalierBlue-walk_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{991,1},{487,409}}</string>
                <key>offset</key>
                <string>{3,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,50},{487,409}}</string>
                <key>sourceSize</key>
                <string>{553,475}</string>
            </dict>
            <key>DisplayAniFarmerCavalierBlue-walk_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{1480,1},{481,413}}</string>
                <key>offset</key>
                <string>{0,-20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,51},{481,413}}</string>
                <key>sourceSize</key>
                <string>{553,475}</string>
            </dict>
            <key>DisplayAniFarmerCavalierBlue-walk_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{504,410},{469,421}}</string>
                <key>offset</key>
                <string>{-3,-24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{39,51},{469,421}}</string>
                <key>sourceSize</key>
                <string>{553,475}</string>
            </dict>
            <key>DisplayAniFarmerCavalierBlue-walk_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,825},{459,427}}</string>
                <key>offset</key>
                <string>{-6,-24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{41,48},{459,427}}</string>
                <key>sourceSize</key>
                <string>{553,475}</string>
            </dict>
            <key>DisplayAniFarmerCavalierBlue-walk_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1254},{451,433}}</string>
                <key>offset</key>
                <string>{-8,-21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{43,42},{451,433}}</string>
                <key>sourceSize</key>
                <string>{553,475}</string>
            </dict>
            <key>DisplayAniFarmerCavalierBlue-walk_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{1414,1272},{449,437}}</string>
                <key>offset</key>
                <string>{-11,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{41,34},{449,437}}</string>
                <key>sourceSize</key>
                <string>{553,475}</string>
            </dict>
            <key>DisplayAniFarmerCavalierBlue-walk_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{454,1264},{459,433}}</string>
                <key>offset</key>
                <string>{-11,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,27},{459,433}}</string>
                <key>sourceSize</key>
                <string>{553,475}</string>
            </dict>
            <key>DisplayAniFarmerCavalierBlue-walk_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{462,833},{469,429}}</string>
                <key>offset</key>
                <string>{-11,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,21},{469,429}}</string>
                <key>sourceSize</key>
                <string>{553,475}</string>
            </dict>
            <key>DisplayAniFarmerCavalierBlue-walk_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{975,412},{479,423}}</string>
                <key>offset</key>
                <string>{-10,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,19},{479,423}}</string>
                <key>sourceSize</key>
                <string>{553,475}</string>
            </dict>
            <key>DisplayAniFarmerCavalierBlue-walk_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{933,837},{487,429}}</string>
                <key>offset</key>
                <string>{-8,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,17},{487,429}}</string>
                <key>sourceSize</key>
                <string>{553,475}</string>
            </dict>
            <key>DisplayAniFarmerCavalierBlue-walk_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{1422,841},{493,429}}</string>
                <key>offset</key>
                <string>{-5,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,17},{493,429}}</string>
                <key>sourceSize</key>
                <string>{553,475}</string>
            </dict>
            <key>DisplayAniFarmerCavalierBlue-walk_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{915,1268},{497,435}}</string>
                <key>offset</key>
                <string>{-1,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,16},{497,435}}</string>
                <key>sourceSize</key>
                <string>{553,475}</string>
            </dict>
            <key>DisplayAniFarmerCavalierBlue-walk_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{1456,416},{501,423}}</string>
                <key>offset</key>
                <string>{3,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,27},{501,423}}</string>
                <key>sourceSize</key>
                <string>{553,475}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>DisplayAniFarmerCavalierBlue.png</string>
            <key>size</key>
            <string>{1962,1710}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:77763d535c08d26908a668df733dcc2e:020592d02abba115924b49c3ae576b4f:7c06c654d457709cd5eca52791c1c54a$</string>
            <key>textureFileName</key>
            <string>DisplayAniFarmerCavalierBlue.png</string>
        </dict>
    </dict>
</plist>
