<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>InfrantryStand_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{623,197},{196,310}}</string>
                <key>offset</key>
                <string>{4,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,8},{196,310}}</string>
                <key>sourceSize</key>
                <string>{208,318}</string>
            </dict>
            <key>InfrantryStand_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{935,197},{196,310}}</string>
                <key>offset</key>
                <string>{4,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,8},{196,310}}</string>
                <key>sourceSize</key>
                <string>{208,318}</string>
            </dict>
            <key>InfrantryStand_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1247,197},{196,310}}</string>
                <key>offset</key>
                <string>{4,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,8},{196,310}}</string>
                <key>sourceSize</key>
                <string>{208,318}</string>
            </dict>
            <key>InfrantryStand_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{194,310}}</string>
                <key>offset</key>
                <string>{4,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,8},{194,310}}</string>
                <key>sourceSize</key>
                <string>{208,318}</string>
            </dict>
            <key>InfrantryStand_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{313,1},{194,310}}</string>
                <key>offset</key>
                <string>{4,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,8},{194,310}}</string>
                <key>sourceSize</key>
                <string>{208,318}</string>
            </dict>
            <key>InfrantryStand_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{625,1},{194,310}}</string>
                <key>offset</key>
                <string>{4,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,8},{194,310}}</string>
                <key>sourceSize</key>
                <string>{208,318}</string>
            </dict>
            <key>InfrantryStand_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{937,1},{194,310}}</string>
                <key>offset</key>
                <string>{4,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,8},{194,310}}</string>
                <key>sourceSize</key>
                <string>{208,318}</string>
            </dict>
            <key>InfrantryStand_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{1249,1},{194,308}}</string>
                <key>offset</key>
                <string>{4,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,10},{194,308}}</string>
                <key>sourceSize</key>
                <string>{208,318}</string>
            </dict>
            <key>InfrantryStand_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,197},{194,308}}</string>
                <key>offset</key>
                <string>{4,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,10},{194,308}}</string>
                <key>sourceSize</key>
                <string>{208,318}</string>
            </dict>
            <key>InfrantryStand_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,393},{196,308}}</string>
                <key>offset</key>
                <string>{4,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,10},{196,308}}</string>
                <key>sourceSize</key>
                <string>{208,318}</string>
            </dict>
            <key>InfrantryStand_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{311,393},{196,308}}</string>
                <key>offset</key>
                <string>{4,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,10},{196,308}}</string>
                <key>sourceSize</key>
                <string>{208,318}</string>
            </dict>
            <key>InfrantryStand_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{621,395},{196,308}}</string>
                <key>offset</key>
                <string>{4,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,10},{196,308}}</string>
                <key>sourceSize</key>
                <string>{208,318}</string>
            </dict>
            <key>InfrantryStand_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{1559,1},{198,306}}</string>
                <key>offset</key>
                <string>{3,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,12},{198,306}}</string>
                <key>sourceSize</key>
                <string>{208,318}</string>
            </dict>
            <key>InfrantryStand_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{1553,395},{198,306}}</string>
                <key>offset</key>
                <string>{3,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,12},{198,306}}</string>
                <key>sourceSize</key>
                <string>{208,318}</string>
            </dict>
            <key>InfrantryStand_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{313,591},{198,306}}</string>
                <key>offset</key>
                <string>{3,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,12},{198,306}}</string>
                <key>sourceSize</key>
                <string>{208,318}</string>
            </dict>
            <key>InfrantryStand_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{621,593},{198,306}}</string>
                <key>offset</key>
                <string>{3,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,12},{198,306}}</string>
                <key>sourceSize</key>
                <string>{208,318}</string>
            </dict>
            <key>InfrantryStand_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{929,593},{198,306}}</string>
                <key>offset</key>
                <string>{3,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,12},{198,306}}</string>
                <key>sourceSize</key>
                <string>{208,318}</string>
            </dict>
            <key>InfrantryStand_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{933,793},{200,306}}</string>
                <key>offset</key>
                <string>{3,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,12},{200,306}}</string>
                <key>sourceSize</key>
                <string>{208,318}</string>
            </dict>
            <key>InfrantryStand_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{1241,793},{200,306}}</string>
                <key>offset</key>
                <string>{3,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,12},{200,306}}</string>
                <key>sourceSize</key>
                <string>{208,318}</string>
            </dict>
            <key>InfrantryStand_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{1549,795},{200,306}}</string>
                <key>offset</key>
                <string>{3,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,12},{200,306}}</string>
                <key>sourceSize</key>
                <string>{208,318}</string>
            </dict>
            <key>InfrantryStand_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,989},{200,306}}</string>
                <key>offset</key>
                <string>{3,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,12},{200,306}}</string>
                <key>sourceSize</key>
                <string>{208,318}</string>
            </dict>
            <key>InfrantryStand_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{309,991},{200,306}}</string>
                <key>offset</key>
                <string>{3,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,12},{200,306}}</string>
                <key>sourceSize</key>
                <string>{208,318}</string>
            </dict>
            <key>InfrantryStand_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{617,993},{200,308}}</string>
                <key>offset</key>
                <string>{3,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,10},{200,308}}</string>
                <key>sourceSize</key>
                <string>{208,318}</string>
            </dict>
            <key>InfrantryStand_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{927,995},{200,308}}</string>
                <key>offset</key>
                <string>{3,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,10},{200,308}}</string>
                <key>sourceSize</key>
                <string>{208,318}</string>
            </dict>
            <key>InfrantryStand_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{1237,995},{200,308}}</string>
                <key>offset</key>
                <string>{3,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,10},{200,308}}</string>
                <key>sourceSize</key>
                <string>{208,318}</string>
            </dict>
            <key>InfrantryStand_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{1547,997},{200,308}}</string>
                <key>offset</key>
                <string>{3,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,10},{200,308}}</string>
                <key>sourceSize</key>
                <string>{208,318}</string>
            </dict>
            <key>InfrantryStand_26.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1193},{200,308}}</string>
                <key>offset</key>
                <string>{3,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,10},{200,308}}</string>
                <key>sourceSize</key>
                <string>{208,318}</string>
            </dict>
            <key>InfrantryStand_27.png</key>
            <dict>
                <key>frame</key>
                <string>{{311,1195},{200,310}}</string>
                <key>offset</key>
                <string>{3,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,8},{200,310}}</string>
                <key>sourceSize</key>
                <string>{208,318}</string>
            </dict>
            <key>InfrantryStand_28.png</key>
            <dict>
                <key>frame</key>
                <string>{{623,1197},{200,310}}</string>
                <key>offset</key>
                <string>{3,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,8},{200,310}}</string>
                <key>sourceSize</key>
                <string>{208,318}</string>
            </dict>
            <key>InfrantryStand_29.png</key>
            <dict>
                <key>frame</key>
                <string>{{935,1197},{200,310}}</string>
                <key>offset</key>
                <string>{3,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,8},{200,310}}</string>
                <key>sourceSize</key>
                <string>{208,318}</string>
            </dict>
            <key>InfrantryStand_30.png</key>
            <dict>
                <key>frame</key>
                <string>{{1237,593},{198,310}}</string>
                <key>offset</key>
                <string>{4,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,8},{198,310}}</string>
                <key>sourceSize</key>
                <string>{208,318}</string>
            </dict>
            <key>InfrantryStand_31.png</key>
            <dict>
                <key>frame</key>
                <string>{{1549,595},{198,310}}</string>
                <key>offset</key>
                <string>{3,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,8},{198,310}}</string>
                <key>sourceSize</key>
                <string>{208,318}</string>
            </dict>
            <key>InfrantryStand_32.png</key>
            <dict>
                <key>frame</key>
                <string>{{931,395},{196,310}}</string>
                <key>offset</key>
                <string>{4,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,8},{196,310}}</string>
                <key>sourceSize</key>
                <string>{208,318}</string>
            </dict>
            <key>InfrantryStand_33.png</key>
            <dict>
                <key>frame</key>
                <string>{{623,197},{196,310}}</string>
                <key>offset</key>
                <string>{4,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,8},{196,310}}</string>
                <key>sourceSize</key>
                <string>{208,318}</string>
            </dict>
            <key>InfrantryStand_34.png</key>
            <dict>
                <key>frame</key>
                <string>{{935,197},{196,310}}</string>
                <key>offset</key>
                <string>{4,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,8},{196,310}}</string>
                <key>sourceSize</key>
                <string>{208,318}</string>
            </dict>
            <key>InfrantryStand_35.png</key>
            <dict>
                <key>frame</key>
                <string>{{1247,197},{196,310}}</string>
                <key>offset</key>
                <string>{4,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,8},{196,310}}</string>
                <key>sourceSize</key>
                <string>{208,318}</string>
            </dict>
            <key>InfrantryStand_36.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{194,310}}</string>
                <key>offset</key>
                <string>{4,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,8},{194,310}}</string>
                <key>sourceSize</key>
                <string>{208,318}</string>
            </dict>
            <key>InfrantryStand_37.png</key>
            <dict>
                <key>frame</key>
                <string>{{311,197},{194,310}}</string>
                <key>offset</key>
                <string>{4,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,8},{194,310}}</string>
                <key>sourceSize</key>
                <string>{208,318}</string>
            </dict>
            <key>InfrantryStand_38.png</key>
            <dict>
                <key>frame</key>
                <string>{{625,1},{194,310}}</string>
                <key>offset</key>
                <string>{4,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,8},{194,310}}</string>
                <key>sourceSize</key>
                <string>{208,318}</string>
            </dict>
            <key>InfrantryStand_39.png</key>
            <dict>
                <key>frame</key>
                <string>{{937,1},{194,310}}</string>
                <key>offset</key>
                <string>{4,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,8},{194,310}}</string>
                <key>sourceSize</key>
                <string>{208,318}</string>
            </dict>
            <key>InfrantryStand_40.png</key>
            <dict>
                <key>frame</key>
                <string>{{1249,1},{194,308}}</string>
                <key>offset</key>
                <string>{4,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,10},{194,308}}</string>
                <key>sourceSize</key>
                <string>{208,318}</string>
            </dict>
            <key>InfrantryStand_41.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,197},{194,308}}</string>
                <key>offset</key>
                <string>{4,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,10},{194,308}}</string>
                <key>sourceSize</key>
                <string>{208,318}</string>
            </dict>
            <key>InfrantryStand_42.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,393},{196,308}}</string>
                <key>offset</key>
                <string>{4,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,10},{196,308}}</string>
                <key>sourceSize</key>
                <string>{208,318}</string>
            </dict>
            <key>InfrantryStand_43.png</key>
            <dict>
                <key>frame</key>
                <string>{{311,393},{196,308}}</string>
                <key>offset</key>
                <string>{4,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,10},{196,308}}</string>
                <key>sourceSize</key>
                <string>{208,318}</string>
            </dict>
            <key>InfrantryStand_44.png</key>
            <dict>
                <key>frame</key>
                <string>{{1243,395},{196,308}}</string>
                <key>offset</key>
                <string>{4,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,10},{196,308}}</string>
                <key>sourceSize</key>
                <string>{208,318}</string>
            </dict>
            <key>InfrantryStand_45.png</key>
            <dict>
                <key>frame</key>
                <string>{{1559,1},{198,306}}</string>
                <key>offset</key>
                <string>{3,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,12},{198,306}}</string>
                <key>sourceSize</key>
                <string>{208,318}</string>
            </dict>
            <key>InfrantryStand_46.png</key>
            <dict>
                <key>frame</key>
                <string>{{1553,395},{198,306}}</string>
                <key>offset</key>
                <string>{3,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,12},{198,306}}</string>
                <key>sourceSize</key>
                <string>{208,318}</string>
            </dict>
            <key>InfrantryStand_47.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,789},{198,306}}</string>
                <key>offset</key>
                <string>{3,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,12},{198,306}}</string>
                <key>sourceSize</key>
                <string>{208,318}</string>
            </dict>
            <key>InfrantryStand_48.png</key>
            <dict>
                <key>frame</key>
                <string>{{621,593},{198,306}}</string>
                <key>offset</key>
                <string>{3,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,12},{198,306}}</string>
                <key>sourceSize</key>
                <string>{208,318}</string>
            </dict>
            <key>InfrantryStand_49.png</key>
            <dict>
                <key>frame</key>
                <string>{{929,593},{198,306}}</string>
                <key>offset</key>
                <string>{3,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,12},{198,306}}</string>
                <key>sourceSize</key>
                <string>{208,318}</string>
            </dict>
            <key>InfrantryStand_50.png</key>
            <dict>
                <key>frame</key>
                <string>{{933,793},{200,306}}</string>
                <key>offset</key>
                <string>{3,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,12},{200,306}}</string>
                <key>sourceSize</key>
                <string>{208,318}</string>
            </dict>
            <key>InfrantryStand_51.png</key>
            <dict>
                <key>frame</key>
                <string>{{1241,793},{200,306}}</string>
                <key>offset</key>
                <string>{3,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,12},{200,306}}</string>
                <key>sourceSize</key>
                <string>{208,318}</string>
            </dict>
            <key>InfrantryStand_52.png</key>
            <dict>
                <key>frame</key>
                <string>{{1549,795},{200,306}}</string>
                <key>offset</key>
                <string>{3,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,12},{200,306}}</string>
                <key>sourceSize</key>
                <string>{208,318}</string>
            </dict>
            <key>InfrantryStand_53.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,989},{200,306}}</string>
                <key>offset</key>
                <string>{3,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,12},{200,306}}</string>
                <key>sourceSize</key>
                <string>{208,318}</string>
            </dict>
            <key>InfrantryStand_54.png</key>
            <dict>
                <key>frame</key>
                <string>{{309,991},{200,306}}</string>
                <key>offset</key>
                <string>{3,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,12},{200,306}}</string>
                <key>sourceSize</key>
                <string>{208,318}</string>
            </dict>
            <key>InfrantryStand_55.png</key>
            <dict>
                <key>frame</key>
                <string>{{617,993},{200,308}}</string>
                <key>offset</key>
                <string>{3,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,10},{200,308}}</string>
                <key>sourceSize</key>
                <string>{208,318}</string>
            </dict>
            <key>InfrantryStand_56.png</key>
            <dict>
                <key>frame</key>
                <string>{{1247,1199},{200,308}}</string>
                <key>offset</key>
                <string>{3,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,10},{200,308}}</string>
                <key>sourceSize</key>
                <string>{208,318}</string>
            </dict>
            <key>InfrantryStand_57.png</key>
            <dict>
                <key>frame</key>
                <string>{{1557,1199},{200,308}}</string>
                <key>offset</key>
                <string>{3,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,10},{200,308}}</string>
                <key>sourceSize</key>
                <string>{208,318}</string>
            </dict>
            <key>InfrantryStand_58.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1395},{200,308}}</string>
                <key>offset</key>
                <string>{3,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,10},{200,308}}</string>
                <key>sourceSize</key>
                <string>{208,318}</string>
            </dict>
            <key>InfrantryStand_59.png</key>
            <dict>
                <key>frame</key>
                <string>{{311,1397},{200,308}}</string>
                <key>offset</key>
                <string>{3,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,10},{200,308}}</string>
                <key>sourceSize</key>
                <string>{208,318}</string>
            </dict>
            <key>InfrantryStand_60.png</key>
            <dict>
                <key>frame</key>
                <string>{{621,1399},{200,310}}</string>
                <key>offset</key>
                <string>{3,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,8},{200,310}}</string>
                <key>sourceSize</key>
                <string>{208,318}</string>
            </dict>
            <key>InfrantryStand_61.png</key>
            <dict>
                <key>frame</key>
                <string>{{933,1399},{200,310}}</string>
                <key>offset</key>
                <string>{3,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,8},{200,310}}</string>
                <key>sourceSize</key>
                <string>{208,318}</string>
            </dict>
            <key>InfrantryStand_62.png</key>
            <dict>
                <key>frame</key>
                <string>{{1245,1401},{200,310}}</string>
                <key>offset</key>
                <string>{3,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,8},{200,310}}</string>
                <key>sourceSize</key>
                <string>{208,318}</string>
            </dict>
            <key>InfrantryStand_63.png</key>
            <dict>
                <key>frame</key>
                <string>{{309,791},{198,310}}</string>
                <key>offset</key>
                <string>{3,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,8},{198,310}}</string>
                <key>sourceSize</key>
                <string>{208,318}</string>
            </dict>
            <key>InfrantryStand_64.png</key>
            <dict>
                <key>frame</key>
                <string>{{621,793},{198,310}}</string>
                <key>offset</key>
                <string>{3,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,8},{198,310}}</string>
                <key>sourceSize</key>
                <string>{208,318}</string>
            </dict>
            <key>InfrantryStand_65.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,591},{196,310}}</string>
                <key>offset</key>
                <string>{4,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,8},{196,310}}</string>
                <key>sourceSize</key>
                <string>{208,318}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>DisplayInfrantryAni.png</string>
            <key>size</key>
            <string>{1860,1602}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:761231f5f5fd456b93fa754496d8acac:3fd04096acbce061e2185a9ddb6d083d:5745d63f90115d961253bfd7c42b8ccc$</string>
            <key>textureFileName</key>
            <string>DisplayInfrantryAni.png</string>
        </dict>
    </dict>
</plist>
