<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>DropDownCoin_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,753},{672,743}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{672,743}}</string>
                <key>sourceSize</key>
                <string>{672,743}</string>
            </dict>
            <key>DropDownCoin_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1243,1162},{673,635}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{673,635}}</string>
                <key>sourceSize</key>
                <string>{673,635}</string>
            </dict>
            <key>DropDownCoin_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1335,1},{657,519}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{657,519}}</string>
                <key>sourceSize</key>
                <string>{657,519}</string>
            </dict>
            <key>DropDownCoin_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1335,522},{653,638}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{653,638}}</string>
                <key>sourceSize</key>
                <string>{653,638}</string>
            </dict>
            <key>DropDownCoin_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{674,750}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{674,750}}</string>
                <key>sourceSize</key>
                <string>{674,750}</string>
            </dict>
            <key>DropDownCoin_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{675,753},{566,744}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{566,744}}</string>
                <key>sourceSize</key>
                <string>{566,744}</string>
            </dict>
            <key>DropDownCoin_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{675,753},{566,744}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{566,744}}</string>
                <key>sourceSize</key>
                <string>{566,744}</string>
            </dict>
            <key>DropDownCoin_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{677,1},{656,740}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{656,740}}</string>
                <key>sourceSize</key>
                <string>{656,740}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>DropDownEffect.png</string>
            <key>size</key>
            <string>{1993,1798}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4be2197760d38e1d2c92e8fa2ccb2b21:614ea93450953c9c2116050add75e8c3:6eb171efa6272a53a5426721e39b7560$</string>
            <key>textureFileName</key>
            <string>DropDownEffect.png</string>
        </dict>
    </dict>
</plist>
