<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>skill_eff_263_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,178},{300,171}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{300,171}}</string>
                <key>sourceSize</key>
                <string>{300,175}</string>
            </dict>
            <key>skill_eff_263_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1209,1},{300,173}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{300,173}}</string>
                <key>sourceSize</key>
                <string>{300,175}</string>
            </dict>
            <key>skill_eff_263_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{300,175}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{300,175}}</string>
                <key>sourceSize</key>
                <string>{300,175}</string>
            </dict>
            <key>skill_eff_263_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{1209,176},{300,173}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{300,173}}</string>
                <key>sourceSize</key>
                <string>{300,175}</string>
            </dict>
            <key>skill_eff_263_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{303,1},{300,175}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{300,175}}</string>
                <key>sourceSize</key>
                <string>{300,175}</string>
            </dict>
            <key>skill_eff_263_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{605,1},{300,175}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{300,175}}</string>
                <key>sourceSize</key>
                <string>{300,175}</string>
            </dict>
            <key>skill_eff_263_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{907,1},{300,175}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{300,175}}</string>
                <key>sourceSize</key>
                <string>{300,175}</string>
            </dict>
            <key>skill_eff_263_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{303,178},{300,169}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{300,169}}</string>
                <key>sourceSize</key>
                <string>{300,175}</string>
            </dict>
            <key>skill_eff_263_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{605,178},{300,169}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{300,169}}</string>
                <key>sourceSize</key>
                <string>{300,175}</string>
            </dict>
            <key>skill_eff_263_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{907,178},{300,169}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{300,169}}</string>
                <key>sourceSize</key>
                <string>{300,175}</string>
            </dict>
            <key>skill_eff_263_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,178},{300,171}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{300,171}}</string>
                <key>sourceSize</key>
                <string>{300,175}</string>
            </dict>
            <key>skill_eff_263_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{1209,1},{300,173}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{300,173}}</string>
                <key>sourceSize</key>
                <string>{300,175}</string>
            </dict>
            <key>skill_eff_263_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{300,175}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{300,175}}</string>
                <key>sourceSize</key>
                <string>{300,175}</string>
            </dict>
            <key>skill_eff_263_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{1209,176},{300,173}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{300,173}}</string>
                <key>sourceSize</key>
                <string>{300,175}</string>
            </dict>
            <key>skill_eff_263_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{303,1},{300,175}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{300,175}}</string>
                <key>sourceSize</key>
                <string>{300,175}</string>
            </dict>
            <key>skill_eff_263_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{605,1},{300,175}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{300,175}}</string>
                <key>sourceSize</key>
                <string>{300,175}</string>
            </dict>
            <key>skill_eff_263_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{907,1},{300,175}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{300,175}}</string>
                <key>sourceSize</key>
                <string>{300,175}</string>
            </dict>
            <key>skill_eff_263_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{303,178},{300,169}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{300,169}}</string>
                <key>sourceSize</key>
                <string>{300,175}</string>
            </dict>
            <key>skill_eff_263_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{605,178},{300,169}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{300,169}}</string>
                <key>sourceSize</key>
                <string>{300,175}</string>
            </dict>
            <key>skill_eff_263_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{907,178},{300,169}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{300,169}}</string>
                <key>sourceSize</key>
                <string>{300,175}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>EffectCurLevel.png</string>
            <key>size</key>
            <string>{1510,350}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:35260ae53da14fc04a8c262bb95e2e39:9f8528ba07afa796b0b027c3f6f2dc5a:5e54df8046130d7f794bb77cfd5ba9e6$</string>
            <key>textureFileName</key>
            <string>EffectCurLevel.png</string>
        </dict>
    </dict>
</plist>
