<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Poison_Effect_01_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{33,627},{28,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,9},{28,30}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>Poison_Effect_01_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{35,595},{30,30}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,8},{30,30}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>Poison_Effect_01_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,595},{32,30}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,8},{32,30}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>Poison_Effect_01_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,627},{30,30}}</string>
                <key>offset</key>
                <string>{2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,8},{30,30}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>Poison_Effect_01_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{33,657},{24,30}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,8},{24,30}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>Poison_Effect_01_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,659},{26,26}}</string>
                <key>offset</key>
                <string>{-2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,13},{26,26}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>Poison_Effect_01_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,687},{24,26}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,13},{24,26}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>Poison_Effect_01_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{95,649},{26,26}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,13},{26,26}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>Poison_Effect_01_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{65,677},{26,24}}</string>
                <key>offset</key>
                <string>{-2,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,15},{26,24}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>Poison_Effect_01_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{81,725},{20,22}}</string>
                <key>offset</key>
                <string>{-4,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,17},{20,22}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>Poison_Effect_01_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,713},{22,22}}</string>
                <key>offset</key>
                <string>{-5,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,18},{22,22}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>Poison_Effect_01_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{57,725},{22,22}}</string>
                <key>offset</key>
                <string>{-5,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,17},{22,22}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>Poison_Effect_01_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{103,725},{20,22}}</string>
                <key>offset</key>
                <string>{-4,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,17},{20,22}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>Poison_Effect_01_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{25,731},{22,18}}</string>
                <key>offset</key>
                <string>{-4,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,21},{22,18}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>Poison_Effect_01_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{29,709},{26,20}}</string>
                <key>offset</key>
                <string>{-4,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,19},{26,20}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>Poison_Effect_01_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{57,703},{28,20}}</string>
                <key>offset</key>
                <string>{-4,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,18},{28,20}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>Poison_Effect_01_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{93,677},{28,22}}</string>
                <key>offset</key>
                <string>{-3,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,17},{28,22}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>Poison_Effect_01_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{93,701},{28,22}}</string>
                <key>offset</key>
                <string>{-2,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,16},{28,22}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>Poison_Effect_01_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{29,683},{26,24}}</string>
                <key>offset</key>
                <string>{-2,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,15},{26,24}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>Poison_Effect_01_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{65,649},{28,26}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,13},{28,26}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>Poison_Effect_05_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{70,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,22},{70,52}}</string>
                <key>sourceSize</key>
                <string>{96,96}</string>
            </dict>
            <key>Poison_Effect_05_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{73,1},{70,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,22},{70,52}}</string>
                <key>sourceSize</key>
                <string>{96,96}</string>
            </dict>
            <key>Poison_Effect_05_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,55},{70,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,22},{70,52}}</string>
                <key>sourceSize</key>
                <string>{96,96}</string>
            </dict>
            <key>Poison_Effect_05_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{73,73},{70,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,22},{70,52}}</string>
                <key>sourceSize</key>
                <string>{96,96}</string>
            </dict>
            <key>Poison_Effect_05_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,109},{70,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,22},{70,52}}</string>
                <key>sourceSize</key>
                <string>{96,96}</string>
            </dict>
            <key>Poison_Effect_05_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{73,145},{70,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,22},{70,52}}</string>
                <key>sourceSize</key>
                <string>{96,96}</string>
            </dict>
            <key>Poison_Effect_05_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,163},{70,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,22},{70,52}}</string>
                <key>sourceSize</key>
                <string>{96,96}</string>
            </dict>
            <key>Poison_Effect_05_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,217},{70,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,22},{70,52}}</string>
                <key>sourceSize</key>
                <string>{96,96}</string>
            </dict>
            <key>Poison_Effect_05_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{73,217},{70,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,22},{70,52}}</string>
                <key>sourceSize</key>
                <string>{96,96}</string>
            </dict>
            <key>Poison_Effect_05_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,271},{70,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,22},{70,52}}</string>
                <key>sourceSize</key>
                <string>{96,96}</string>
            </dict>
            <key>Poison_Effect_05_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{73,289},{70,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,22},{70,52}}</string>
                <key>sourceSize</key>
                <string>{96,96}</string>
            </dict>
            <key>Poison_Effect_05_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,325},{70,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,22},{70,52}}</string>
                <key>sourceSize</key>
                <string>{96,96}</string>
            </dict>
            <key>Poison_Effect_05_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{73,361},{70,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,22},{70,52}}</string>
                <key>sourceSize</key>
                <string>{96,96}</string>
            </dict>
            <key>Poison_Effect_05_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,379},{70,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,22},{70,52}}</string>
                <key>sourceSize</key>
                <string>{96,96}</string>
            </dict>
            <key>Poison_Effect_05_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,433},{70,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,22},{70,52}}</string>
                <key>sourceSize</key>
                <string>{96,96}</string>
            </dict>
            <key>Poison_Effect_05_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{73,433},{70,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,22},{70,52}}</string>
                <key>sourceSize</key>
                <string>{96,96}</string>
            </dict>
            <key>Poison_Effect_05_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,487},{70,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,22},{70,52}}</string>
                <key>sourceSize</key>
                <string>{96,96}</string>
            </dict>
            <key>Poison_Effect_05_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{73,505},{70,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,22},{70,52}}</string>
                <key>sourceSize</key>
                <string>{96,96}</string>
            </dict>
            <key>Poison_Effect_05_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,541},{70,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,22},{70,52}}</string>
                <key>sourceSize</key>
                <string>{96,96}</string>
            </dict>
            <key>Poison_Effect_05_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{73,577},{70,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,22},{70,52}}</string>
                <key>sourceSize</key>
                <string>{96,96}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>EffectPoisonRoad.png</string>
            <key>size</key>
            <string>{126,750}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3d88bc642d099bf1511e518160be71ff:3514aad4c6430bc37092d6e7a4e09581:580abda8081ce9b5a8305de410277a9d$</string>
            <key>textureFileName</key>
            <string>EffectPoisonRoad.png</string>
        </dict>
    </dict>
</plist>
