<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>taqing_round_anim_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{1015,1},{130,100}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,11},{130,100}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>taqing_round_anim_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1147,1},{130,98}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,13},{130,98}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>taqing_round_anim_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{883,1},{130,112}}</string>
                <key>offset</key>
                <string>{0,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{130,112}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>taqing_round_anim_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{619,1},{130,122}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{130,122}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>taqing_round_anim_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{130,124}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{130,124}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>taqing_round_anim_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{391,1},{118,124}}</string>
                <key>offset</key>
                <string>{5,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,2},{118,124}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>taqing_round_anim_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{511,1},{106,124}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,2},{106,124}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>taqing_round_anim_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{265,1},{124,124}}</string>
                <key>offset</key>
                <string>{3,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,2},{124,124}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>taqing_round_anim_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{133,1},{130,124}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{130,124}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>taqing_round_anim_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{751,1},{130,122}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,3},{130,122}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>EffectSelect2.png</string>
            <key>size</key>
            <string>{1278,126}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a010a6e23f4c2388fbec3bf10e294b33:ae88cc787611bc5364c7d67e9ce7ee4c:a6021f880cceae6f212c85b4c3f786ec$</string>
            <key>textureFileName</key>
            <string>EffectSelect2.png</string>
        </dict>
    </dict>
</plist>
