<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>farmerDisplayAni_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{161,537},{206,256}}</string>
                <key>offset</key>
                <string>{-6,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,55},{206,256}}</string>
                <key>sourceSize</key>
                <string>{276,336}</string>
            </dict>
            <key>farmerDisplayAni_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{159,795},{202,256}}</string>
                <key>offset</key>
                <string>{-5,-15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{32,55},{202,256}}</string>
                <key>sourceSize</key>
                <string>{276,336}</string>
            </dict>
            <key>farmerDisplayAni_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{909,355},{196,256}}</string>
                <key>offset</key>
                <string>{-3,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{37,55},{196,256}}</string>
                <key>sourceSize</key>
                <string>{276,336}</string>
            </dict>
            <key>farmerDisplayAni_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{909,613},{188,254}}</string>
                <key>offset</key>
                <string>{0,-16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{44,57},{188,254}}</string>
                <key>sourceSize</key>
                <string>{276,336}</string>
            </dict>
            <key>farmerDisplayAni_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{933,1057},{180,254}}</string>
                <key>offset</key>
                <string>{3,-16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{51,57},{180,254}}</string>
                <key>sourceSize</key>
                <string>{276,336}</string>
            </dict>
            <key>farmerDisplayAni_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{1141,803},{180,252}}</string>
                <key>offset</key>
                <string>{4,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{52,59},{180,252}}</string>
                <key>sourceSize</key>
                <string>{276,336}</string>
            </dict>
            <key>farmerDisplayAni_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{1189,1057},{186,250}}</string>
                <key>offset</key>
                <string>{5,-18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{50,61},{186,250}}</string>
                <key>sourceSize</key>
                <string>{276,336}</string>
            </dict>
            <key>farmerDisplayAni_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{1419,559},{190,250}}</string>
                <key>offset</key>
                <string>{6,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{49,61},{190,250}}</string>
                <key>sourceSize</key>
                <string>{276,336}</string>
            </dict>
            <key>farmerDisplayAni_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{1357,365},{192,250}}</string>
                <key>offset</key>
                <string>{6,-18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{48,61},{192,250}}</string>
                <key>sourceSize</key>
                <string>{276,336}</string>
            </dict>
            <key>farmerDisplayAni_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{1441,1003},{188,252}}</string>
                <key>offset</key>
                <string>{4,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{48,59},{188,252}}</string>
                <key>sourceSize</key>
                <string>{276,336}</string>
            </dict>
            <key>farmerDisplayAni_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{363,355},{178,272}}</string>
                <key>offset</key>
                <string>{0,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{49,39},{178,272}}</string>
                <key>sourceSize</key>
                <string>{276,336}</string>
            </dict>
            <key>farmerDisplayAni_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{1273,199},{164,290}}</string>
                <key>offset</key>
                <string>{-5,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{51,21},{164,290}}</string>
                <key>sourceSize</key>
                <string>{276,336}</string>
            </dict>
            <key>farmerDisplayAni_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{973,199},{152,298}}</string>
                <key>offset</key>
                <string>{-10,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{52,13},{152,298}}</string>
                <key>sourceSize</key>
                <string>{276,336}</string>
            </dict>
            <key>farmerDisplayAni_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{669,199},{154,302}}</string>
                <key>offset</key>
                <string>{-20,8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{41,9},{154,302}}</string>
                <key>sourceSize</key>
                <string>{276,336}</string>
            </dict>
            <key>farmerDisplayAni_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{363,199},{154,304}}</string>
                <key>offset</key>
                <string>{-27,9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{34,7},{154,304}}</string>
                <key>sourceSize</key>
                <string>{276,336}</string>
            </dict>
            <key>farmerDisplayAni_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,925},{154,306}}</string>
                <key>offset</key>
                <string>{-32,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,5},{154,306}}</string>
                <key>sourceSize</key>
                <string>{276,336}</string>
            </dict>
            <key>farmerDisplayAni_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,309},{158,306}}</string>
                <key>offset</key>
                <string>{-34,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,5},{158,306}}</string>
                <key>sourceSize</key>
                <string>{276,336}</string>
            </dict>
            <key>farmerDisplayAni_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{160,306}}</string>
                <key>offset</key>
                <string>{-35,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,5},{160,306}}</string>
                <key>sourceSize</key>
                <string>{276,336}</string>
            </dict>
            <key>farmerDisplayAni_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,617},{156,306}}</string>
                <key>offset</key>
                <string>{-33,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,5},{156,306}}</string>
                <key>sourceSize</key>
                <string>{276,336}</string>
            </dict>
            <key>farmerDisplayAni_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{1719,1},{138,288}}</string>
                <key>offset</key>
                <string>{-12,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{57,23},{138,288}}</string>
                <key>sourceSize</key>
                <string>{276,336}</string>
            </dict>
            <key>farmerDisplayAni_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{1611,485},{186,256}}</string>
                <key>offset</key>
                <string>{7,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{52,57},{186,256}}</string>
                <key>sourceSize</key>
                <string>{276,336}</string>
            </dict>
            <key>farmerDisplayAni_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{739,941},{192,260}}</string>
                <key>offset</key>
                <string>{9,-22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{51,60},{192,260}}</string>
                <key>sourceSize</key>
                <string>{276,336}</string>
            </dict>
            <key>farmerDisplayAni_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{349,999},{196,264}}</string>
                <key>offset</key>
                <string>{8,-25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{48,61},{196,264}}</string>
                <key>sourceSize</key>
                <string>{276,336}</string>
            </dict>
            <key>farmerDisplayAni_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{163,271},{198,264}}</string>
                <key>offset</key>
                <string>{8,-27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{47,63},{198,264}}</string>
                <key>sourceSize</key>
                <string>{276,336}</string>
            </dict>
            <key>farmerDisplayAni_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{369,535},{198,266}}</string>
                <key>offset</key>
                <string>{8,-28}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{47,63},{198,266}}</string>
                <key>sourceSize</key>
                <string>{276,336}</string>
            </dict>
            <key>farmerDisplayAni_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{163,1},{198,268}}</string>
                <key>offset</key>
                <string>{7,-28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{46,62},{198,268}}</string>
                <key>sourceSize</key>
                <string>{276,336}</string>
            </dict>
            <key>farmerDisplayAni_26.png</key>
            <dict>
                <key>frame</key>
                <string>{{1179,1},{196,268}}</string>
                <key>offset</key>
                <string>{8,-28}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{48,62},{196,268}}</string>
                <key>sourceSize</key>
                <string>{276,336}</string>
            </dict>
            <key>farmerDisplayAni_27.png</key>
            <dict>
                <key>frame</key>
                <string>{{1449,1},{196,268}}</string>
                <key>offset</key>
                <string>{8,-28}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{48,62},{196,268}}</string>
                <key>sourceSize</key>
                <string>{276,336}</string>
            </dict>
            <key>farmerDisplayAni_28.png</key>
            <dict>
                <key>frame</key>
                <string>{{363,1},{196,270}}</string>
                <key>offset</key>
                <string>{8,-27}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{48,60},{196,270}}</string>
                <key>sourceSize</key>
                <string>{276,336}</string>
            </dict>
            <key>farmerDisplayAni_29.png</key>
            <dict>
                <key>frame</key>
                <string>{{635,1},{196,270}}</string>
                <key>offset</key>
                <string>{8,-27}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{48,60},{196,270}}</string>
                <key>sourceSize</key>
                <string>{276,336}</string>
            </dict>
            <key>farmerDisplayAni_30.png</key>
            <dict>
                <key>frame</key>
                <string>{{907,1},{196,270}}</string>
                <key>offset</key>
                <string>{7,-27}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{47,60},{196,270}}</string>
                <key>sourceSize</key>
                <string>{276,336}</string>
            </dict>
            <key>farmerDisplayAni_31.png</key>
            <dict>
                <key>frame</key>
                <string>{{637,355},{194,270}}</string>
                <key>offset</key>
                <string>{8,-27}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{49,60},{194,270}}</string>
                <key>sourceSize</key>
                <string>{276,336}</string>
            </dict>
            <key>farmerDisplayAni_32.png</key>
            <dict>
                <key>frame</key>
                <string>{{637,551},{194,270}}</string>
                <key>offset</key>
                <string>{9,-27}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{50,60},{194,270}}</string>
                <key>sourceSize</key>
                <string>{276,336}</string>
            </dict>
            <key>farmerDisplayAni_33.png</key>
            <dict>
                <key>frame</key>
                <string>{{625,747},{192,270}}</string>
                <key>offset</key>
                <string>{10,-28}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{52,61},{192,270}}</string>
                <key>sourceSize</key>
                <string>{276,336}</string>
            </dict>
            <key>farmerDisplayAni_34.png</key>
            <dict>
                <key>frame</key>
                <string>{{157,999},{190,268}}</string>
                <key>offset</key>
                <string>{12,-28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{55,62},{190,268}}</string>
                <key>sourceSize</key>
                <string>{276,336}</string>
            </dict>
            <key>farmerDisplayAni_35.png</key>
            <dict>
                <key>frame</key>
                <string>{{547,993},{190,262}}</string>
                <key>offset</key>
                <string>{14,-27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{57,64},{190,262}}</string>
                <key>sourceSize</key>
                <string>{276,336}</string>
            </dict>
            <key>farmerDisplayAni_36.png</key>
            <dict>
                <key>frame</key>
                <string>{{1323,811},{190,256}}</string>
                <key>offset</key>
                <string>{16,-26}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{59,66},{190,256}}</string>
                <key>sourceSize</key>
                <string>{276,336}</string>
            </dict>
            <key>farmerDisplayAni_37.png</key>
            <dict>
                <key>frame</key>
                <string>{{1165,567},{192,252}}</string>
                <key>offset</key>
                <string>{16,-26}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{58,68},{192,252}}</string>
                <key>sourceSize</key>
                <string>{276,336}</string>
            </dict>
            <key>farmerDisplayAni_38.png</key>
            <dict>
                <key>frame</key>
                <string>{{1611,743},{192,250}}</string>
                <key>offset</key>
                <string>{16,-27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{58,70},{192,250}}</string>
                <key>sourceSize</key>
                <string>{276,336}</string>
            </dict>
            <key>farmerDisplayAni_39.png</key>
            <dict>
                <key>frame</key>
                <string>{{1631,995},{192,250}}</string>
                <key>offset</key>
                <string>{17,-26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{59,69},{192,250}}</string>
                <key>sourceSize</key>
                <string>{276,336}</string>
            </dict>
            <key>farmerDisplayAni_40.png</key>
            <dict>
                <key>frame</key>
                <string>{{1631,291},{192,248}}</string>
                <key>offset</key>
                <string>{15,-23}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{57,67},{192,248}}</string>
                <key>sourceSize</key>
                <string>{276,336}</string>
            </dict>
            <key>farmerDisplayAni_41.png</key>
            <dict>
                <key>frame</key>
                <string>{{1107,365},{200,248}}</string>
                <key>offset</key>
                <string>{7,-19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{45,63},{200,248}}</string>
                <key>sourceSize</key>
                <string>{276,336}</string>
            </dict>
            <key>farmerDisplayAni_42.png</key>
            <dict>
                <key>frame</key>
                <string>{{933,803},{206,252}}</string>
                <key>offset</key>
                <string>{0,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,59},{206,252}}</string>
                <key>sourceSize</key>
                <string>{276,336}</string>
            </dict>
            <key>farmerDisplayAni_43.png</key>
            <dict>
                <key>frame</key>
                <string>{{417,735},{206,256}}</string>
                <key>offset</key>
                <string>{-4,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,55},{206,256}}</string>
                <key>sourceSize</key>
                <string>{276,336}</string>
            </dict>
            <key>farmerDisplayAni_44.png</key>
            <dict>
                <key>frame</key>
                <string>{{161,537},{206,256}}</string>
                <key>offset</key>
                <string>{-6,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,55},{206,256}}</string>
                <key>sourceSize</key>
                <string>{276,336}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>FarmerDisplayAni.png</string>
            <key>size</key>
            <string>{1880,1268}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d3d417b5f1c5c044cc9f4c7cbe9408da:88d091f1c498debbb0cd96d5923966a8:e51ba78f7e903636a954f0a377054646$</string>
            <key>textureFileName</key>
            <string>FarmerDisplayAni.png</string>
        </dict>
    </dict>
</plist>
