<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>exchange.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,133},{122,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{122,128}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>icon_saphir.png</key>
            <dict>
                <key>frame</key>
                <string>{{125,133},{137,131}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{137,131}}</string>
                <key>sourceSize</key>
                <string>{137,131}</string>
            </dict>
            <key>saphir_lv1.png</key>
            <dict>
                <key>frame</key>
                <string>{{155,273},{181,125}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{181,125}}</string>
                <key>sourceSize</key>
                <string>{181,125}</string>
            </dict>
            <key>saphir_lv2.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,431},{209,136}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{209,136}}</string>
                <key>sourceSize</key>
                <string>{209,136}</string>
            </dict>
            <key>saphir_lv3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,602},{212,206}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{212,206}}</string>
                <key>sourceSize</key>
                <string>{212,206}</string>
            </dict>
            <key>saphir_lv4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,431},{201,169}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{201,169}}</string>
                <key>sourceSize</key>
                <string>{201,169}</string>
            </dict>
            <key>saphir_lv5.png</key>
            <dict>
                <key>frame</key>
                <string>{{215,602},{216,209}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{216,209}}</string>
                <key>sourceSize</key>
                <string>{216,209}</string>
            </dict>
            <key>shop_diamond_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{80,90}}</string>
                <key>offset</key>
                <string>{2,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{40,36},{80,90}}</string>
                <key>sourceSize</key>
                <string>{156,156}</string>
            </dict>
            <key>shop_diamond_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{83,1},{86,114}}</string>
                <key>offset</key>
                <string>{2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{37,22},{86,114}}</string>
                <key>sourceSize</key>
                <string>{156,156}</string>
            </dict>
            <key>shop_diamond_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{171,1},{100,118}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,20},{100,118}}</string>
                <key>sourceSize</key>
                <string>{156,156}</string>
            </dict>
            <key>shop_diamond_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{273,1},{116,130}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,16},{116,130}}</string>
                <key>sourceSize</key>
                <string>{156,156}</string>
            </dict>
            <key>shop_diamond_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{264,133},{140,138}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,11},{140,138}}</string>
                <key>sourceSize</key>
                <string>{156,156}</string>
            </dict>
            <key>shop_diamond_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,273},{152,156}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{152,156}}</string>
                <key>sourceSize</key>
                <string>{156,156}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>GemsLevel.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d2eeb804836f57d15f7b7962b73f84ac:8cdb628a4e2fc13f3b402f15190bc066:5f775e74d085571aa27545db671bbb45$</string>
            <key>textureFileName</key>
            <string>GemsLevel.png</string>
        </dict>
    </dict>
</plist>
