<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Military-----4_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,937},{3,3}}</string>
                <key>offset</key>
                <string>{-254.5,254.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{3,3}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>Military-----4_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{466,76}}</string>
                <key>offset</key>
                <string>{-3,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,217},{466,76}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>Military-----4_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,469},{466,76}}</string>
                <key>offset</key>
                <string>{-3,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,217},{466,76}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>Military-----4_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{79,1},{466,76}}</string>
                <key>offset</key>
                <string>{-3,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,217},{466,76}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>Military-----4_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{79,469},{466,76}}</string>
                <key>offset</key>
                <string>{-3,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,217},{466,76}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>Military-----4_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{157,1},{464,76}}</string>
                <key>offset</key>
                <string>{-3,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{21,217},{464,76}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>Military-----4_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{157,467},{362,60}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{73,225},{362,60}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>Military-----4_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{235,333},{256,90}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{126,210},{256,90}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>Military-----4_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{157,831},{200,132}}</string>
                <key>offset</key>
                <string>{-3,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{153,187},{200,132}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>Military-----4_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{1373,283},{240,154}}</string>
                <key>offset</key>
                <string>{-1,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{135,166},{240,154}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>Military-----4_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{1121,289},{250,164}}</string>
                <key>offset</key>
                <string>{-1,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{130,165},{250,164}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>Military-----4_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{1517,1},{254,176}}</string>
                <key>offset</key>
                <string>{-1,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{128,163},{254,176}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>Military-----4_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{1029,757},{268,192}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{122,157},{268,192}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>Military-----4_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{759,765},{268,194}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{122,155},{268,194}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>Military-----4_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{1249,455},{272,212}}</string>
                <key>offset</key>
                <string>{1,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{121,146},{272,212}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>Military-----4_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{1285,1},{280,230}}</string>
                <key>offset</key>
                <string>{3,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{119,137},{280,230}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>Military-----4_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{1105,1},{286,178}}</string>
                <key>offset</key>
                <string>{2,21}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{115,146},{286,178}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>Military-----4_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{921,1},{290,182}}</string>
                <key>offset</key>
                <string>{2,21}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{113,144},{290,182}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>Military-----4_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{1075,459},{292,172}}</string>
                <key>offset</key>
                <string>{1,22}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{111,148},{292,172}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>Military-----4_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{899,459},{296,174}}</string>
                <key>offset</key>
                <string>{1,22}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{109,147},{296,174}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>Military-----4_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{727,459},{304,170}}</string>
                <key>offset</key>
                <string>{0,25}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{104,146},{304,170}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>Military-----4_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{747,1},{308,172}}</string>
                <key>offset</key>
                <string>{1,25}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{103,145},{308,172}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>Military-----4_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{569,1},{308,176}}</string>
                <key>offset</key>
                <string>{1,27}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{103,141},{308,176}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>Military-----4_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{553,459},{314,172}}</string>
                <key>offset</key>
                <string>{2,29}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{101,141},{314,172}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>Military-----4_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{377,459},{318,174}}</string>
                <key>offset</key>
                <string>{2,29}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{99,140},{318,174}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>Military-----4_26.png</key>
            <dict>
                <key>frame</key>
                <string>{{393,1},{324,174}}</string>
                <key>offset</key>
                <string>{2,28}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{96,141},{324,174}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>Military-----4_27.png</key>
            <dict>
                <key>frame</key>
                <string>{{359,803},{330,156}}</string>
                <key>offset</key>
                <string>{3,37}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{94,141},{330,156}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>Military-----4_28.png</key>
            <dict>
                <key>frame</key>
                <string>{{235,1},{330,156}}</string>
                <key>offset</key>
                <string>{3,38}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{94,140},{330,156}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>Military-----4_29.png</key>
            <dict>
                <key>frame</key>
                <string>{{219,467},{334,156}}</string>
                <key>offset</key>
                <string>{3,37}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{92,141},{334,156}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>Military-----4_30.png</key>
            <dict>
                <key>frame</key>
                <string>{{1299,729},{220,150}}</string>
                <key>offset</key>
                <string>{-5,40}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{141,141},{220,150}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>Military-----4_31.png</key>
            <dict>
                <key>frame</key>
                <string>{{1451,729},{218,150}}</string>
                <key>offset</key>
                <string>{-5,43}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{142,138},{218,150}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>Military-----4_32.png</key>
            <dict>
                <key>frame</key>
                <string>{{1463,439},{218,150}}</string>
                <key>offset</key>
                <string>{-5,43}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{142,138},{218,150}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>Military-----4_33.png</key>
            <dict>
                <key>frame</key>
                <string>{{681,311},{218,146}}</string>
                <key>offset</key>
                <string>{-5,45}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{142,138},{218,146}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>Military-----4_34.png</key>
            <dict>
                <key>frame</key>
                <string>{{901,311},{218,146}}</string>
                <key>offset</key>
                <string>{-5,45}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{142,138},{218,146}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>Military-----4_35.png</key>
            <dict>
                <key>frame</key>
                <string>{{1603,809},{218,146}}</string>
                <key>offset</key>
                <string>{-5,45}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{142,138},{218,146}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>Military-----4_36.png</key>
            <dict>
                <key>frame</key>
                <string>{{1683,273},{216,142}}</string>
                <key>offset</key>
                <string>{-5,50}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{143,135},{216,142}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>Military-----4_37.png</key>
            <dict>
                <key>frame</key>
                <string>{{1683,417},{216,142}}</string>
                <key>offset</key>
                <string>{-5,50}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{143,135},{216,142}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>Military-----4_38.png</key>
            <dict>
                <key>frame</key>
                <string>{{1683,561},{216,142}}</string>
                <key>offset</key>
                <string>{-5,50}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{143,135},{216,142}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>Military-----4_39.png</key>
            <dict>
                <key>frame</key>
                <string>{{1683,739},{180,32}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{165,239},{180,32}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>Military-----4_40.png</key>
            <dict>
                <key>frame</key>
                <string>{{1615,257},{182,32}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{164,239},{182,32}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>Military-----4_41.png</key>
            <dict>
                <key>frame</key>
                <string>{{1649,257},{182,32}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{164,239},{182,32}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>Military-----4_42.png</key>
            <dict>
                <key>frame</key>
                <string>{{1649,257},{182,32}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{164,239},{182,32}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>Military-----4_43.png</key>
            <dict>
                <key>frame</key>
                <string>{{1615,441},{182,32}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{164,239},{182,32}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>Military-----4_44.png</key>
            <dict>
                <key>frame</key>
                <string>{{1649,441},{182,32}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{164,239},{182,32}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>Military-----4_45.png</key>
            <dict>
                <key>frame</key>
                <string>{{1615,625},{182,32}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{164,239},{182,32}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>Military-----4_46.png</key>
            <dict>
                <key>frame</key>
                <string>{{1615,625},{182,32}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{164,239},{182,32}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>Military-----4_47.png</key>
            <dict>
                <key>frame</key>
                <string>{{1649,625},{182,32}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{164,239},{182,32}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>Military-----4_48.png</key>
            <dict>
                <key>frame</key>
                <string>{{1683,705},{182,32}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{164,239},{182,32}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>Military-----4_49.png</key>
            <dict>
                <key>frame</key>
                <string>{{1867,705},{182,32}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{164,239},{182,32}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>Military-----4_50.png</key>
            <dict>
                <key>frame</key>
                <string>{{1695,1},{184,32}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{163,239},{184,32}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>Military-----4_51.png</key>
            <dict>
                <key>frame</key>
                <string>{{1695,1},{184,32}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{163,239},{184,32}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>Military-----4_52.png</key>
            <dict>
                <key>frame</key>
                <string>{{1695,35},{184,32}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{163,239},{184,32}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>Military-----4_53.png</key>
            <dict>
                <key>frame</key>
                <string>{{1695,69},{184,32}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{163,239},{184,32}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>Military-----4_54.png</key>
            <dict>
                <key>frame</key>
                <string>{{1695,103},{184,32}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{163,239},{184,32}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>Military-----4_55.png</key>
            <dict>
                <key>frame</key>
                <string>{{1695,137},{184,32}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{163,239},{184,32}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>Military-----4_56.png</key>
            <dict>
                <key>frame</key>
                <string>{{1695,171},{184,32}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{163,239},{184,32}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>Military-----4_57.png</key>
            <dict>
                <key>frame</key>
                <string>{{1695,205},{184,32}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{163,239},{184,32}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>Military-----4_58.png</key>
            <dict>
                <key>frame</key>
                <string>{{1695,239},{184,32}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{163,239},{184,32}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>Military-----4_59.png</key>
            <dict>
                <key>frame</key>
                <string>{{235,425},{186,32}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{161,239},{186,32}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>Military-----4_60.png</key>
            <dict>
                <key>frame</key>
                <string>{{423,425},{186,32}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{161,239},{186,32}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>Military-----4_61.png</key>
            <dict>
                <key>frame</key>
                <string>{{691,775},{186,32}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{162,239},{186,32}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>Military-----4_62.png</key>
            <dict>
                <key>frame</key>
                <string>{{725,775},{186,32}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{162,239},{186,32}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>Military-----4_63.png</key>
            <dict>
                <key>frame</key>
                <string>{{493,327},{186,32}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{162,239},{186,32}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>Military-----4_64.png</key>
            <dict>
                <key>frame</key>
                <string>{{493,361},{186,32}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{162,239},{186,32}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>LevelUpAni.png</string>
            <key>size</key>
            <string>{1900,964}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b01fdff3da9e3bb81ad7880bee6fd378:12251c7481c83888dd771a4e6c0ad355:c39dcc7653f39fbd4fa2a16df1823eeb$</string>
            <key>textureFileName</key>
            <string>LevelUpAni.png</string>
        </dict>
    </dict>
</plist>
