<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>banner_blue14.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,111},{795,223}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{795,223}}</string>
                <key>sourceSize</key>
                <string>{795,223}</string>
            </dict>
            <key>loading.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{877,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{877,108}}</string>
                <key>sourceSize</key>
                <string>{877,108}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>LoadingGear.png</string>
            <key>size</key>
            <string>{879,335}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:22623f0866ae958a2af25672e13270b0:94198d4f3170a83838b67b8b6b6c78f3:ed2743184a37d09561cac0aa215c0fa8$</string>
            <key>textureFileName</key>
            <string>LoadingGear.png</string>
        </dict>
    </dict>
</plist>
