<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>LowerSoldierDisplayAni_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{193,306}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,0},{193,306}}</string>
                <key>sourceSize</key>
                <string>{205,306}</string>
            </dict>
            <key>LowerSoldierDisplayAni_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{309,1},{193,306}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,0},{193,306}}</string>
                <key>sourceSize</key>
                <string>{205,306}</string>
            </dict>
            <key>LowerSoldierDisplayAni_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{617,1},{193,306}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,0},{193,306}}</string>
                <key>sourceSize</key>
                <string>{205,306}</string>
            </dict>
            <key>LowerSoldierDisplayAni_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{925,1},{193,304}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,2},{193,304}}</string>
                <key>sourceSize</key>
                <string>{205,306}</string>
            </dict>
            <key>LowerSoldierDisplayAni_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{1231,1},{193,304}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,2},{193,304}}</string>
                <key>sourceSize</key>
                <string>{205,306}</string>
            </dict>
            <key>LowerSoldierDisplayAni_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,196},{193,304}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,2},{193,304}}</string>
                <key>sourceSize</key>
                <string>{205,306}</string>
            </dict>
            <key>LowerSoldierDisplayAni_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{307,196},{193,304}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,2},{193,304}}</string>
                <key>sourceSize</key>
                <string>{205,306}</string>
            </dict>
            <key>LowerSoldierDisplayAni_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{613,196},{193,304}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,2},{193,304}}</string>
                <key>sourceSize</key>
                <string>{205,306}</string>
            </dict>
            <key>LowerSoldierDisplayAni_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{309,391},{195,304}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,2},{195,304}}</string>
                <key>sourceSize</key>
                <string>{205,306}</string>
            </dict>
            <key>LowerSoldierDisplayAni_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{615,391},{195,304}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,2},{195,304}}</string>
                <key>sourceSize</key>
                <string>{205,306}</string>
            </dict>
            <key>LowerSoldierDisplayAni_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{1537,1},{195,302}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,4},{195,302}}</string>
                <key>sourceSize</key>
                <string>{205,306}</string>
            </dict>
            <key>LowerSoldierDisplayAni_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{1537,305},{197,302}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,4},{197,302}}</string>
                <key>sourceSize</key>
                <string>{205,306}</string>
            </dict>
            <key>LowerSoldierDisplayAni_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{919,588},{199,302}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,4},{199,302}}</string>
                <key>sourceSize</key>
                <string>{205,306}</string>
            </dict>
            <key>LowerSoldierDisplayAni_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{1223,588},{199,302}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,4},{199,302}}</string>
                <key>sourceSize</key>
                <string>{205,306}</string>
            </dict>
            <key>LowerSoldierDisplayAni_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{1527,609},{199,302}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,4},{199,302}}</string>
                <key>sourceSize</key>
                <string>{205,306}</string>
            </dict>
            <key>LowerSoldierDisplayAni_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{919,789},{201,302}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,4},{201,302}}</string>
                <key>sourceSize</key>
                <string>{205,306}</string>
            </dict>
            <key>LowerSoldierDisplayAni_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{1223,789},{201,302}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,4},{201,302}}</string>
                <key>sourceSize</key>
                <string>{205,306}</string>
            </dict>
            <key>LowerSoldierDisplayAni_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,986},{201,302}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,4},{201,302}}</string>
                <key>sourceSize</key>
                <string>{205,306}</string>
            </dict>
            <key>LowerSoldierDisplayAni_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{305,988},{201,302}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,4},{201,302}}</string>
                <key>sourceSize</key>
                <string>{205,306}</string>
            </dict>
            <key>LowerSoldierDisplayAni_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{609,988},{201,302}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,4},{201,302}}</string>
                <key>sourceSize</key>
                <string>{205,306}</string>
            </dict>
            <key>LowerSoldierDisplayAni_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{913,992},{201,302}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,4},{201,302}}</string>
                <key>sourceSize</key>
                <string>{205,306}</string>
            </dict>
            <key>LowerSoldierDisplayAni_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{1217,992},{201,302}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,4},{201,302}}</string>
                <key>sourceSize</key>
                <string>{205,306}</string>
            </dict>
            <key>LowerSoldierDisplayAni_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{1521,992},{201,304}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{201,304}}</string>
                <key>sourceSize</key>
                <string>{205,306}</string>
            </dict>
            <key>LowerSoldierDisplayAni_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,785},{199,304}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,2},{199,304}}</string>
                <key>sourceSize</key>
                <string>{205,306}</string>
            </dict>
            <key>LowerSoldierDisplayAni_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{307,787},{199,304}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,2},{199,304}}</string>
                <key>sourceSize</key>
                <string>{205,306}</string>
            </dict>
            <key>LowerSoldierDisplayAni_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{613,787},{199,304}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,2},{199,304}}</string>
                <key>sourceSize</key>
                <string>{205,306}</string>
            </dict>
            <key>LowerSoldierDisplayAni_26.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,586},{197,304}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,2},{197,304}}</string>
                <key>sourceSize</key>
                <string>{205,306}</string>
            </dict>
            <key>LowerSoldierDisplayAni_27.png</key>
            <dict>
                <key>frame</key>
                <string>{{307,588},{197,304}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,2},{197,304}}</string>
                <key>sourceSize</key>
                <string>{205,306}</string>
            </dict>
            <key>LowerSoldierDisplayAni_28.png</key>
            <dict>
                <key>frame</key>
                <string>{{613,588},{197,304}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,2},{197,304}}</string>
                <key>sourceSize</key>
                <string>{205,306}</string>
            </dict>
            <key>LowerSoldierDisplayAni_29.png</key>
            <dict>
                <key>frame</key>
                <string>{{921,391},{195,306}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,0},{195,306}}</string>
                <key>sourceSize</key>
                <string>{205,306}</string>
            </dict>
            <key>LowerSoldierDisplayAni_30.png</key>
            <dict>
                <key>frame</key>
                <string>{{1229,391},{195,306}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,0},{195,306}}</string>
                <key>sourceSize</key>
                <string>{205,306}</string>
            </dict>
            <key>LowerSoldierDisplayAni_31.png</key>
            <dict>
                <key>frame</key>
                <string>{{919,196},{193,306}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,0},{193,306}}</string>
                <key>sourceSize</key>
                <string>{205,306}</string>
            </dict>
            <key>LowerSoldierDisplayAni_32.png</key>
            <dict>
                <key>frame</key>
                <string>{{1227,196},{193,306}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,0},{193,306}}</string>
                <key>sourceSize</key>
                <string>{205,306}</string>
            </dict>
            <key>LowerSoldierDisplayAni_33.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,391},{193,306}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,0},{193,306}}</string>
                <key>sourceSize</key>
                <string>{205,306}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>LowerSoldierDisplayAni.png</string>
            <key>size</key>
            <string>{1826,1194}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2cc18b7629d8e7e6f1a0b8b51b2b9ed9:3c2b61eb17e0daf7d99a6fec70ff5c93:e7ee6ac3a7b0b69d5146e58b1cd0330a$</string>
            <key>textureFileName</key>
            <string>LowerSoldierDisplayAni.png</string>
        </dict>
    </dict>
</plist>
