<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Halloween hero vhelsing sniper_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{126,126}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,13},{126,126}}</string>
                <key>sourceSize</key>
                <string>{152,152}</string>
            </dict>
            <key>Halloween hero vhelsing sniper_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{129,1},{116,114}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,20},{116,114}}</string>
                <key>sourceSize</key>
                <string>{152,152}</string>
            </dict>
            <key>Halloween hero vhelsing sniper_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,129},{98,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,27},{98,98}}</string>
                <key>sourceSize</key>
                <string>{152,152}</string>
            </dict>
            <key>Halloween hero vhelsing sniper_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,229},{88,86}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,34},{88,86}}</string>
                <key>sourceSize</key>
                <string>{152,152}</string>
            </dict>
            <key>Halloween hero vhelsing sniper_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,317},{74,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{39,39},{74,74}}</string>
                <key>sourceSize</key>
                <string>{152,152}</string>
            </dict>
            <key>Halloween hero vhelsing sniper_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{101,205},{72,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{40,40},{72,72}}</string>
                <key>sourceSize</key>
                <string>{152,152}</string>
            </dict>
            <key>Halloween hero vhelsing sniper_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{177,117},{70,68}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{40,42},{70,68}}</string>
                <key>sourceSize</key>
                <string>{152,152}</string>
            </dict>
            <key>Halloween hero vhelsing sniper_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{77,353},{66,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{43,43},{66,66}}</string>
                <key>sourceSize</key>
                <string>{152,152}</string>
            </dict>
            <key>Halloween hero vhelsing sniper_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{177,189},{68,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{42,42},{68,68}}</string>
                <key>sourceSize</key>
                <string>{152,152}</string>
            </dict>
            <key>Halloween hero vhelsing sniper_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{91,279},{72,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{40,40},{72,72}}</string>
                <key>sourceSize</key>
                <string>{152,152}</string>
            </dict>
            <key>Halloween hero vhelsing sniper_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{101,129},{74,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{39,39},{74,74}}</string>
                <key>sourceSize</key>
                <string>{152,152}</string>
            </dict>
            <key>Halloween hero vhelsing sniper_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{165,331},{72,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{40,40},{72,72}}</string>
                <key>sourceSize</key>
                <string>{152,152}</string>
            </dict>
            <key>Halloween hero vhelsing sniper_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{175,259},{70,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{41,41},{70,70}}</string>
                <key>sourceSize</key>
                <string>{152,152}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>MissleTargetIcon.png</string>
            <key>size</key>
            <string>{246,420}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0e0deb04d2baf3f64a8ae1d770fb5fd0:f255b04b64412b6e81afd1616dc08041:32880496d678da88f0dad1a9552c4c4d$</string>
            <key>textureFileName</key>
            <string>MissleTargetIcon.png</string>
        </dict>
    </dict>
</plist>
