<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>nvwuDisplayWalk_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{1701,1},{292,336}}</string>
                <key>offset</key>
                <string>{-16,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,3},{292,336}}</string>
                <key>sourceSize</key>
                <string>{326,342}</string>
            </dict>
            <key>nvwuDisplayWalk_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,249},{294,336}}</string>
                <key>offset</key>
                <string>{-16,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,3},{294,336}}</string>
                <key>sourceSize</key>
                <string>{326,342}</string>
            </dict>
            <key>nvwuDisplayWalk_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{681,283},{294,338}}</string>
                <key>offset</key>
                <string>{-15,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,2},{294,338}}</string>
                <key>sourceSize</key>
                <string>{326,342}</string>
            </dict>
            <key>nvwuDisplayWalk_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{1697,295},{296,338}}</string>
                <key>offset</key>
                <string>{-15,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{296,338}}</string>
                <key>sourceSize</key>
                <string>{326,342}</string>
            </dict>
            <key>nvwuDisplayWalk_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{1019,587},{298,338}}</string>
                <key>offset</key>
                <string>{-14,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{298,338}}</string>
                <key>sourceSize</key>
                <string>{326,342}</string>
            </dict>
            <key>nvwuDisplayWalk_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{1695,593},{298,340}}</string>
                <key>offset</key>
                <string>{-13,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{298,340}}</string>
                <key>sourceSize</key>
                <string>{326,342}</string>
            </dict>
            <key>nvwuDisplayWalk_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{339,867},{298,340}}</string>
                <key>offset</key>
                <string>{-13,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{298,340}}</string>
                <key>sourceSize</key>
                <string>{326,342}</string>
            </dict>
            <key>nvwuDisplayWalk_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{1019,887},{298,340}}</string>
                <key>offset</key>
                <string>{-13,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{298,340}}</string>
                <key>sourceSize</key>
                <string>{326,342}</string>
            </dict>
            <key>nvwuDisplayWalk_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{1361,893},{300,340}}</string>
                <key>offset</key>
                <string>{-13,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{300,340}}</string>
                <key>sourceSize</key>
                <string>{326,342}</string>
            </dict>
            <key>nvwuDisplayWalk_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{339,569},{296,340}}</string>
                <key>offset</key>
                <string>{-14,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{296,340}}</string>
                <key>sourceSize</key>
                <string>{326,342}</string>
            </dict>
            <key>nvwuDisplayWalk_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{339,275},{292,340}}</string>
                <key>offset</key>
                <string>{-16,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{292,340}}</string>
                <key>sourceSize</key>
                <string>{326,342}</string>
            </dict>
            <key>nvwuDisplayWalk_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{1021,1},{288,338}}</string>
                <key>offset</key>
                <string>{-18,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{288,338}}</string>
                <key>sourceSize</key>
                <string>{326,342}</string>
            </dict>
            <key>nvwuDisplayWalk_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{681,1},{280,338}}</string>
                <key>offset</key>
                <string>{-23,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{280,338}}</string>
                <key>sourceSize</key>
                <string>{326,342}</string>
            </dict>
            <key>nvwuDisplayWalk_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{246,338}}</string>
                <key>offset</key>
                <string>{-40,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{246,338}}</string>
                <key>sourceSize</key>
                <string>{326,342}</string>
            </dict>
            <key>nvwuDisplayWalk_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{341,1},{272,338}}</string>
                <key>offset</key>
                <string>{-26,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{272,338}}</string>
                <key>sourceSize</key>
                <string>{326,342}</string>
            </dict>
            <key>nvwuDisplayWalk_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{1361,1},{288,338}}</string>
                <key>offset</key>
                <string>{-19,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{288,338}}</string>
                <key>sourceSize</key>
                <string>{326,342}</string>
            </dict>
            <key>nvwuDisplayWalk_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{1021,291},{294,336}}</string>
                <key>offset</key>
                <string>{-16,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{294,336}}</string>
                <key>sourceSize</key>
                <string>{326,342}</string>
            </dict>
            <key>nvwuDisplayWalk_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,545},{296,336}}</string>
                <key>offset</key>
                <string>{-14,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,3},{296,336}}</string>
                <key>sourceSize</key>
                <string>{326,342}</string>
            </dict>
            <key>nvwuDisplayWalk_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{681,877},{300,336}}</string>
                <key>offset</key>
                <string>{-13,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,4},{300,336}}</string>
                <key>sourceSize</key>
                <string>{326,342}</string>
            </dict>
            <key>nvwuDisplayWalk_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1143},{300,336}}</string>
                <key>offset</key>
                <string>{-12,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,5},{300,336}}</string>
                <key>sourceSize</key>
                <string>{326,342}</string>
            </dict>
            <key>nvwuDisplayWalk_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{339,1167},{302,336}}</string>
                <key>offset</key>
                <string>{-12,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,5},{302,336}}</string>
                <key>sourceSize</key>
                <string>{326,342}</string>
            </dict>
            <key>nvwuDisplayWalk_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{677,1179},{302,336}}</string>
                <key>offset</key>
                <string>{-12,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,5},{302,336}}</string>
                <key>sourceSize</key>
                <string>{326,342}</string>
            </dict>
            <key>nvwuDisplayWalk_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{1703,893},{300,334}}</string>
                <key>offset</key>
                <string>{-13,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,6},{300,334}}</string>
                <key>sourceSize</key>
                <string>{326,342}</string>
            </dict>
            <key>nvwuDisplayWalk_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{1359,587},{298,334}}</string>
                <key>offset</key>
                <string>{-14,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,6},{298,334}}</string>
                <key>sourceSize</key>
                <string>{326,342}</string>
            </dict>
            <key>nvwuDisplayWalk_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,843},{298,336}}</string>
                <key>offset</key>
                <string>{-14,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,4},{298,336}}</string>
                <key>sourceSize</key>
                <string>{326,342}</string>
            </dict>
            <key>nvwuDisplayWalk_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{681,579},{296,336}}</string>
                <key>offset</key>
                <string>{-15,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,3},{296,336}}</string>
                <key>sourceSize</key>
                <string>{326,342}</string>
            </dict>
            <key>nvwuDisplayWalk_26.png</key>
            <dict>
                <key>frame</key>
                <string>{{1359,291},{294,336}}</string>
                <key>offset</key>
                <string>{-16,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,3},{294,336}}</string>
                <key>sourceSize</key>
                <string>{326,342}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>nvwudisplayAni.png</string>
            <key>size</key>
            <string>{2038,1482}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:45e9f3380a1142a44b38a2a2ed9040a0:3aa6712b53cbe01906047a0abb0c68d4:66cb8ec3d2773ac6775eb29b15a01bbf$</string>
            <key>textureFileName</key>
            <string>nvwudisplayAni.png</string>
        </dict>
    </dict>
</plist>
