<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>btn_d_arrowRight.png</key>
            <dict>
                <key>frame</key>
                <string>{{554,358},{97,85}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,7},{97,85}}</string>
                <key>sourceSize</key>
                <string>{99,99}</string>
            </dict>
            <key>btn_d_play.png</key>
            <dict>
                <key>frame</key>
                <string>{{733,1},{72,85}}</string>
                <key>offset</key>
                <string>{-5,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,13},{72,85}}</string>
                <key>sourceSize</key>
                <string>{82,111}</string>
            </dict>
            <key>btn_d_repeat.png</key>
            <dict>
                <key>frame</key>
                <string>{{554,262},{94,97}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,97}}</string>
                <key>sourceSize</key>
                <string>{94,97}</string>
            </dict>
            <key>btn_h_arrowRight.png</key>
            <dict>
                <key>frame</key>
                <string>{{554,175},{98,85}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,7},{98,85}}</string>
                <key>sourceSize</key>
                <string>{100,99}</string>
            </dict>
            <key>btn_h_play.png</key>
            <dict>
                <key>frame</key>
                <string>{{732,88},{72,85}}</string>
                <key>offset</key>
                <string>{-5,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,13},{72,85}}</string>
                <key>sourceSize</key>
                <string>{82,111}</string>
            </dict>
            <key>btn_h_repeat.png</key>
            <dict>
                <key>frame</key>
                <string>{{653,272},{94,97}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,97}}</string>
                <key>sourceSize</key>
                <string>{94,97}</string>
            </dict>
            <key>btn_n_arrowRight.png</key>
            <dict>
                <key>frame</key>
                <string>{{697,368},{97,85}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,7},{97,85}}</string>
                <key>sourceSize</key>
                <string>{99,99}</string>
            </dict>
            <key>btn_n_play.png</key>
            <dict>
                <key>frame</key>
                <string>{{554,445},{72,85}}</string>
                <key>offset</key>
                <string>{-5,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,13},{72,85}}</string>
                <key>sourceSize</key>
                <string>{82,111}</string>
            </dict>
            <key>btn_n_repeat.png</key>
            <dict>
                <key>frame</key>
                <string>{{654,175},{95,97}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{95,97}}</string>
                <key>sourceSize</key>
                <string>{95,97}</string>
            </dict>
            <key>hud_buttons_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{641,445},{56,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{56,54}}</string>
                <key>sourceSize</key>
                <string>{56,56}</string>
            </dict>
            <key>pause_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{551,521}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{551,521}}</string>
                <key>sourceSize</key>
                <string>{551,521}</string>
            </dict>
            <key>pause_btn_c_d_long.png</key>
            <dict>
                <key>frame</key>
                <string>{{554,1},{177,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{177,85}}</string>
                <key>sourceSize</key>
                <string>{177,85}</string>
            </dict>
            <key>pause_btn_n_h_long.png</key>
            <dict>
                <key>frame</key>
                <string>{{554,88},{176,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{176,85}}</string>
                <key>sourceSize</key>
                <string>{176,85}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>PausePage.png</string>
            <key>size</key>
            <string>{806,523}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0ffa36515a7e3ddc023b79ee25b52fab:adff432c729bbc13c8bc2a8218306e23:e4a0bb59c66182fa8536e14d797601e6$</string>
            <key>textureFileName</key>
            <string>PausePage.png</string>
        </dict>
    </dict>
</plist>
