<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>pixelCardAssert1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{100,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,128}}</string>
                <key>sourceSize</key>
                <string>{100,128}</string>
            </dict>
            <key>pixelCardAssert10.png</key>
            <dict>
                <key>frame</key>
                <string>{{403,177},{78,15}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,15}}</string>
                <key>sourceSize</key>
                <string>{78,15}</string>
            </dict>
            <key>pixelCardAssert11.png</key>
            <dict>
                <key>frame</key>
                <string>{{307,329},{96,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,29}}</string>
                <key>sourceSize</key>
                <string>{96,29}</string>
            </dict>
            <key>pixelCardAssert12.png</key>
            <dict>
                <key>frame</key>
                <string>{{391,391},{96,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,18}}</string>
                <key>sourceSize</key>
                <string>{96,18}</string>
            </dict>
            <key>pixelCardAssert13.png</key>
            <dict>
                <key>frame</key>
                <string>{{465,211},{94,15}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,15}}</string>
                <key>sourceSize</key>
                <string>{94,15}</string>
            </dict>
            <key>pixelCardAssert14.png</key>
            <dict>
                <key>frame</key>
                <string>{{442,309},{96,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,18}}</string>
                <key>sourceSize</key>
                <string>{96,18}</string>
            </dict>
            <key>pixelCardAssert15.png</key>
            <dict>
                <key>frame</key>
                <string>{{307,360},{97,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{97,29}}</string>
                <key>sourceSize</key>
                <string>{97,29}</string>
            </dict>
            <key>pixelCardAssert16.png</key>
            <dict>
                <key>frame</key>
                <string>{{462,309},{96,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,18}}</string>
                <key>sourceSize</key>
                <string>{96,18}</string>
            </dict>
            <key>pixelCardAssert17.png</key>
            <dict>
                <key>frame</key>
                <string>{{409,1},{86,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,72}}</string>
                <key>sourceSize</key>
                <string>{86,72}</string>
            </dict>
            <key>pixelCardAssert18.png</key>
            <dict>
                <key>frame</key>
                <string>{{409,89},{86,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,72}}</string>
                <key>sourceSize</key>
                <string>{86,72}</string>
            </dict>
            <key>pixelCardAssert19.png</key>
            <dict>
                <key>frame</key>
                <string>{{307,131},{94,122}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,122}}</string>
                <key>sourceSize</key>
                <string>{94,122}</string>
            </dict>
            <key>pixelCardAssert2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,131},{100,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,128}}</string>
                <key>sourceSize</key>
                <string>{100,128}</string>
            </dict>
            <key>pixelCardAssert20.png</key>
            <dict>
                <key>frame</key>
                <string>{{103,1},{100,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,128}}</string>
                <key>sourceSize</key>
                <string>{100,128}</string>
            </dict>
            <key>pixelCardAssert21.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,261},{100,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,128}}</string>
                <key>sourceSize</key>
                <string>{100,128}</string>
            </dict>
            <key>pixelCardAssert22.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,391},{100,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,128}}</string>
                <key>sourceSize</key>
                <string>{100,128}</string>
            </dict>
            <key>pixelCardAssert23.png</key>
            <dict>
                <key>frame</key>
                <string>{{205,1},{100,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,128}}</string>
                <key>sourceSize</key>
                <string>{100,128}</string>
            </dict>
            <key>pixelCardAssert24.png</key>
            <dict>
                <key>frame</key>
                <string>{{103,131},{100,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,128}}</string>
                <key>sourceSize</key>
                <string>{100,128}</string>
            </dict>
            <key>pixelCardAssert25.png</key>
            <dict>
                <key>frame</key>
                <string>{{103,261},{100,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,128}}</string>
                <key>sourceSize</key>
                <string>{100,128}</string>
            </dict>
            <key>pixelCardAssert26.png</key>
            <dict>
                <key>frame</key>
                <string>{{131,391},{100,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,128}}</string>
                <key>sourceSize</key>
                <string>{100,128}</string>
            </dict>
            <key>pixelCardAssert27.png</key>
            <dict>
                <key>frame</key>
                <string>{{307,1},{100,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,128}}</string>
                <key>sourceSize</key>
                <string>{100,128}</string>
            </dict>
            <key>pixelCardAssert28.png</key>
            <dict>
                <key>frame</key>
                <string>{{205,131},{100,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,128}}</string>
                <key>sourceSize</key>
                <string>{100,128}</string>
            </dict>
            <key>pixelCardAssert3.png</key>
            <dict>
                <key>frame</key>
                <string>{{205,261},{100,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,128}}</string>
                <key>sourceSize</key>
                <string>{100,128}</string>
            </dict>
            <key>pixelCardAssert4.png</key>
            <dict>
                <key>frame</key>
                <string>{{261,391},{100,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,128}}</string>
                <key>sourceSize</key>
                <string>{100,128}</string>
            </dict>
            <key>pixelCardAssert5.png</key>
            <dict>
                <key>frame</key>
                <string>{{307,255},{86,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,72}}</string>
                <key>sourceSize</key>
                <string>{86,72}</string>
            </dict>
            <key>pixelCardAssert6.png</key>
            <dict>
                <key>frame</key>
                <string>{{403,211},{96,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,29}}</string>
                <key>sourceSize</key>
                <string>{96,29}</string>
            </dict>
            <key>pixelCardAssert7.png</key>
            <dict>
                <key>frame</key>
                <string>{{434,211},{96,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,29}}</string>
                <key>sourceSize</key>
                <string>{96,29}</string>
            </dict>
            <key>pixelCardAssert8.png</key>
            <dict>
                <key>frame</key>
                <string>{{411,309},{96,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,29}}</string>
                <key>sourceSize</key>
                <string>{96,29}</string>
            </dict>
            <key>pixelCardAssert9.png</key>
            <dict>
                <key>frame</key>
                <string>{{403,194},{77,15}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{77,15}}</string>
                <key>sourceSize</key>
                <string>{77,15}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>pixelCardUI2.png</string>
            <key>size</key>
            <string>{482,492}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:39ce386a1f42d7b02ceb61997eed7375:996b392f17a04ff87da410ff5faf8adb:148a45bacf59e087d142c0fffa915065$</string>
            <key>textureFileName</key>
            <string>pixelCardUI2.png</string>
        </dict>
    </dict>
</plist>
