<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>1122pixelicon64_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{287,463},{42,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,11},{42,42}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>1123pixelicon64_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{247,303},{58,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,3},{58,58}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>1124pixelicon64_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{251,223},{58,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,3},{58,58}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>1125pixelicon64_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{331,67},{64,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,7},{64,50}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>1126pixelicon64_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,463},{64,46}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,7},{64,46}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>1127pixelicon64_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{293,363},{58,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,3},{58,58}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>1128pixelicon64_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{293,67},{42,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,15},{42,34}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>1129pixelicon64_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{235,463},{50,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,11},{50,42}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>1130pixelicon64_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{431,187},{50,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,3},{50,58}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>245pixelicon64__15.png</key>
            <dict>
                <key>frame</key>
                <string>{{307,283},{58,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,3},{58,58}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>246pixelicon64_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{191,67},{54,58}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,3},{54,58}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>258pixekicon64_231.png</key>
            <dict>
                <key>frame</key>
                <string>{{123,463},{50,46}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,11},{50,46}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>265pixelicon64_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{331,423},{58,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,3},{58,58}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>Crown_Black 64.png</key>
            <dict>
                <key>frame</key>
                <string>{{175,463},{58,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,11},{58,42}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>Crown_Outline 64.png</key>
            <dict>
                <key>frame</key>
                <string>{{247,111},{64,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,7},{64,50}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>Skills-and-Status-64x64_83.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{64,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,64}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>d104pixelicon64_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{191,127},{54,54}}</string>
                <key>offset</key>
                <string>{2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,7},{54,54}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>d1077pixelicon64_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{67,331},{58,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{58,64}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>d109pixekicon64__25.png</key>
            <dict>
                <key>frame</key>
                <string>{{247,163},{58,62}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,2},{58,62}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>d110pixelicon64_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{67,67},{62,64}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,64}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>d17pixelicon64_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{353,343},{58,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,3},{58,58}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>d2323pixekicon64_233.png</key>
            <dict>
                <key>frame</key>
                <string>{{187,331},{64,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,3},{64,58}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>d2331pixekicon64_234.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,67},{64,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,64}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>d2337.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,133},{64,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,64}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>d2344pixelicon64_addDef.png</key>
            <dict>
                <key>frame</key>
                <string>{{67,133},{62,64}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{62,64}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>d2519pixekicon64_235.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,199},{64,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,64}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>d2558attackRange.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,265},{64,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,64}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>d2590pixekicon64_236.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,331},{64,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,64}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>d2611pixekicon64_237.png</key>
            <dict>
                <key>frame</key>
                <string>{{461,67},{50,62}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,2},{50,62}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>d2700pixelicon64_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{67,397},{58,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{58,64}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>d2733pixelicon64_kezhi.png</key>
            <dict>
                <key>frame</key>
                <string>{{67,463},{46,54}}</string>
                <key>offset</key>
                <string>{2,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,7},{46,54}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>d2862pixelicon64_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,397},{64,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,64}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>d2946upgrade_skill.png</key>
            <dict>
                <key>frame</key>
                <string>{{67,199},{64,62}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{64,62}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>d3024pixelicon64_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{67,1},{64,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,64}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>d327pixelicon64_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{127,331},{58,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{58,64}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>d336pixelicon64_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{127,397},{58,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{58,64}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>d3371pixekicon64_238.png</key>
            <dict>
                <key>frame</key>
                <string>{{397,67},{62,62}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{62,62}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>d4342pixekicon64_239.png</key>
            <dict>
                <key>frame</key>
                <string>{{391,447},{50,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,7},{50,50}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>d4361pixelicon64__34.png</key>
            <dict>
                <key>frame</key>
                <string>{{247,67},{42,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,11},{42,42}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>d4pixelicon64_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{463,1},{46,64}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,0},{46,64}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>d5d68pixekicon64__24.png</key>
            <dict>
                <key>frame</key>
                <string>{{133,1},{64,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,64}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>d6181pixekicon64_pop.png</key>
            <dict>
                <key>frame</key>
                <string>{{131,67},{58,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{58,64}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>d6185pixekicon64_2310.png</key>
            <dict>
                <key>frame</key>
                <string>{{131,133},{58,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{58,64}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>d6638pixekicon64_2311.png</key>
            <dict>
                <key>frame</key>
                <string>{{431,239},{50,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,3},{50,58}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>d6649pixekicon64_2312.png</key>
            <dict>
                <key>frame</key>
                <string>{{427,291},{50,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,3},{50,58}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>d68pixekicon64_232.png</key>
            <dict>
                <key>frame</key>
                <string>{{311,183},{58,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,3},{58,58}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>gem_emptyL.png</key>
            <dict>
                <key>frame</key>
                <string>{{187,397},{64,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,51}}</string>
                <key>sourceSize</key>
                <string>{64,51}</string>
            </dict>
            <key>gem_skill_red.png</key>
            <dict>
                <key>frame</key>
                <string>{{240,397},{64,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,51}}</string>
                <key>sourceSize</key>
                <string>{64,51}</string>
            </dict>
            <key>pixekicon64_WallDef.png</key>
            <dict>
                <key>frame</key>
                <string>{{191,239},{58,62}}</string>
                <key>offset</key>
                <string>{3,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,2},{58,62}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>pixekicon64_d2546.png</key>
            <dict>
                <key>frame</key>
                <string>{{331,119},{62,62}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{62,62}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>pixekicon64_d2718.png</key>
            <dict>
                <key>frame</key>
                <string>{{199,1},{64,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,64}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>pixekicon64_d6639.png</key>
            <dict>
                <key>frame</key>
                <string>{{413,343},{50,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,3},{50,58}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>pixel_icon_fire_bomb.png</key>
            <dict>
                <key>frame</key>
                <string>{{395,131},{58,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,7},{58,50}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>pixelicon64_33.png</key>
            <dict>
                <key>frame</key>
                <string>{{265,1},{64,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,64}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>pixelicon64_CD.png</key>
            <dict>
                <key>frame</key>
                <string>{{413,395},{50,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,3},{50,58}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>pixelicon64_addAtk.png</key>
            <dict>
                <key>frame</key>
                <string>{{67,265},{64,62}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{64,62}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>pixelicon64_addSpd.png</key>
            <dict>
                <key>frame</key>
                <string>{{331,1},{64,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,64}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>pixelicon64_attackLargeAdd.png</key>
            <dict>
                <key>frame</key>
                <string>{{191,183},{54,54}}</string>
                <key>offset</key>
                <string>{5,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,10},{54,54}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>pixelicon64_call.png</key>
            <dict>
                <key>frame</key>
                <string>{{367,243},{58,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,3},{58,58}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>pixelicon64_d2538.png</key>
            <dict>
                <key>frame</key>
                <string>{{443,447},{50,50}}</string>
                <key>offset</key>
                <string>{7,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,14},{50,50}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>pixelicon64_invincible.png</key>
            <dict>
                <key>frame</key>
                <string>{{455,131},{54,54}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,3},{54,54}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>pixelicon64_poison.png</key>
            <dict>
                <key>frame</key>
                <string>{{131,199},{58,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{58,64}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>pixelicon64_start.png</key>
            <dict>
                <key>frame</key>
                <string>{{371,183},{58,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,3},{58,58}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>pixelicon64_trap.png</key>
            <dict>
                <key>frame</key>
                <string>{{397,1},{64,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,64}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>pixelicon64_ware.png</key>
            <dict>
                <key>frame</key>
                <string>{{131,265},{58,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{58,64}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>PixelIcon64.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:29a576138f2666e6340ecb69d4e148f8:40f5fd9ef31c3f0b231328f98205d5f4:e7b38a48a5bde3b90ec564d34e0737fc$</string>
            <key>textureFileName</key>
            <string>PixelIcon64.png</string>
        </dict>
    </dict>
</plist>
