<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>QishiDisplayAni_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{471,1},{234,233}}</string>
                <key>offset</key>
                <string>{-3,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,12},{234,233}}</string>
                <key>sourceSize</key>
                <string>{246,245}</string>
            </dict>
            <key>QishiDisplayAni_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{231,462},{228,225}}</string>
                <key>offset</key>
                <string>{-2,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,20},{228,225}}</string>
                <key>sourceSize</key>
                <string>{246,245}</string>
            </dict>
            <key>QishiDisplayAni_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{692,462},{222,221}}</string>
                <key>offset</key>
                <string>{-2,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,24},{222,221}}</string>
                <key>sourceSize</key>
                <string>{246,245}</string>
            </dict>
            <key>QishiDisplayAni_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{708,232},{216,221}}</string>
                <key>offset</key>
                <string>{-3,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,24},{216,221}}</string>
                <key>sourceSize</key>
                <string>{246,245}</string>
            </dict>
            <key>QishiDisplayAni_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{235,244},{210,223}}</string>
                <key>offset</key>
                <string>{-5,-11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,22},{210,223}}</string>
                <key>sourceSize</key>
                <string>{246,245}</string>
            </dict>
            <key>QishiDisplayAni_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{707,1},{216,229}}</string>
                <key>offset</key>
                <string>{-6,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,14},{216,229}}</string>
                <key>sourceSize</key>
                <string>{246,245}</string>
            </dict>
            <key>QishiDisplayAni_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{461,462},{220,229}}</string>
                <key>offset</key>
                <string>{-8,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,7},{220,229}}</string>
                <key>sourceSize</key>
                <string>{246,245}</string>
            </dict>
            <key>QishiDisplayAni_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{471,236},{224,235}}</string>
                <key>offset</key>
                <string>{-9,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,2},{224,235}}</string>
                <key>sourceSize</key>
                <string>{246,245}</string>
            </dict>
            <key>QishiDisplayAni_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,246},{228,243}}</string>
                <key>offset</key>
                <string>{-9,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{228,243}}</string>
                <key>sourceSize</key>
                <string>{246,245}</string>
            </dict>
            <key>QishiDisplayAni_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{232,243}}</string>
                <key>offset</key>
                <string>{-7,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{232,243}}</string>
                <key>sourceSize</key>
                <string>{246,245}</string>
            </dict>
            <key>QishiDisplayAni_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{235,1},{234,241}}</string>
                <key>offset</key>
                <string>{-5,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,4},{234,241}}</string>
                <key>sourceSize</key>
                <string>{246,245}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>qishiDisplayAni.png</string>
            <key>size</key>
            <string>{925,688}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c54f05406d6c5f1485ef1ce0807ea2d0:38dbfa03b6d4503e36f3677ebfe1f221:1da1d651dfd34461262555a88ffceb75$</string>
            <key>textureFileName</key>
            <string>qishiDisplayAni.png</string>
        </dict>
    </dict>
</plist>
