<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ThiefWalkAni_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{1163,208},{211,286}}</string>
                <key>offset</key>
                <string>{-10,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,17},{211,286}}</string>
                <key>sourceSize</key>
                <string>{253,316}</string>
            </dict>
            <key>ThiefWalkAni_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{585,206},{209,286}}</string>
                <key>offset</key>
                <string>{-9,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,19},{209,286}}</string>
                <key>sourceSize</key>
                <string>{253,316}</string>
            </dict>
            <key>ThiefWalkAni_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,206},{207,288}}</string>
                <key>offset</key>
                <string>{-8,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{15,20},{207,288}}</string>
                <key>sourceSize</key>
                <string>{253,316}</string>
            </dict>
            <key>ThiefWalkAni_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{877,1},{205,288}}</string>
                <key>offset</key>
                <string>{-7,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{17,23},{205,288}}</string>
                <key>sourceSize</key>
                <string>{253,316}</string>
            </dict>
            <key>ThiefWalkAni_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{1167,1},{205,290}}</string>
                <key>offset</key>
                <string>{-6,-12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{18,25},{205,290}}</string>
                <key>sourceSize</key>
                <string>{253,316}</string>
            </dict>
            <key>ThiefWalkAni_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{203,290}}</string>
                <key>offset</key>
                <string>{-5,-13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,26},{203,290}}</string>
                <key>sourceSize</key>
                <string>{253,316}</string>
            </dict>
            <key>ThiefWalkAni_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{293,1},{203,290}}</string>
                <key>offset</key>
                <string>{-5,-12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,25},{203,290}}</string>
                <key>sourceSize</key>
                <string>{253,316}</string>
            </dict>
            <key>ThiefWalkAni_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{585,1},{203,290}}</string>
                <key>offset</key>
                <string>{-5,-11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,24},{203,290}}</string>
                <key>sourceSize</key>
                <string>{253,316}</string>
            </dict>
            <key>ThiefWalkAni_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{1459,1},{205,292}}</string>
                <key>offset</key>
                <string>{-6,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,20},{205,292}}</string>
                <key>sourceSize</key>
                <string>{253,316}</string>
            </dict>
            <key>ThiefWalkAni_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{291,206},{207,292}}</string>
                <key>offset</key>
                <string>{-8,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{15,18},{207,292}}</string>
                <key>sourceSize</key>
                <string>{253,316}</string>
            </dict>
            <key>ThiefWalkAni_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{873,208},{209,288}}</string>
                <key>offset</key>
                <string>{-9,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,17},{209,288}}</string>
                <key>sourceSize</key>
                <string>{253,316}</string>
            </dict>
            <key>ThiefWalkAni_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{1451,295},{213,280}}</string>
                <key>offset</key>
                <string>{-11,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,18},{213,280}}</string>
                <key>sourceSize</key>
                <string>{253,316}</string>
            </dict>
            <key>ThiefWalkAni_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{583,417},{217,284}}</string>
                <key>offset</key>
                <string>{-13,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,17},{217,284}}</string>
                <key>sourceSize</key>
                <string>{253,316}</string>
            </dict>
            <key>ThiefWalkAni_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{1163,421},{219,286}}</string>
                <key>offset</key>
                <string>{-14,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,20},{219,286}}</string>
                <key>sourceSize</key>
                <string>{253,316}</string>
            </dict>
            <key>ThiefWalkAni_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,630},{221,288}}</string>
                <key>offset</key>
                <string>{-15,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,22},{221,288}}</string>
                <key>sourceSize</key>
                <string>{253,316}</string>
            </dict>
            <key>ThiefWalkAni_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{877,642},{221,290}}</string>
                <key>offset</key>
                <string>{-14,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,23},{221,290}}</string>
                <key>sourceSize</key>
                <string>{253,316}</string>
            </dict>
            <key>ThiefWalkAni_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{1169,642},{221,290}}</string>
                <key>offset</key>
                <string>{-14,-11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,24},{221,290}}</string>
                <key>sourceSize</key>
                <string>{253,316}</string>
            </dict>
            <key>ThiefWalkAni_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{291,632},{219,290}}</string>
                <key>offset</key>
                <string>{-13,-12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,25},{219,290}}</string>
                <key>sourceSize</key>
                <string>{253,316}</string>
            </dict>
            <key>ThiefWalkAni_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{583,638},{219,292}}</string>
                <key>offset</key>
                <string>{-13,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,22},{219,292}}</string>
                <key>sourceSize</key>
                <string>{253,316}</string>
            </dict>
            <key>ThiefWalkAni_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{869,419},{217,292}}</string>
                <key>offset</key>
                <string>{-12,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,20},{217,292}}</string>
                <key>sourceSize</key>
                <string>{253,316}</string>
            </dict>
            <key>ThiefWalkAni_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{291,415},{215,290}}</string>
                <key>offset</key>
                <string>{-12,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,18},{215,290}}</string>
                <key>sourceSize</key>
                <string>{253,316}</string>
            </dict>
            <key>ThiefWalkAni_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,415},{213,288}}</string>
                <key>offset</key>
                <string>{-11,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,18},{213,288}}</string>
                <key>sourceSize</key>
                <string>{253,316}</string>
            </dict>
            <key>ThiefWalkAni_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{1163,208},{211,286}}</string>
                <key>offset</key>
                <string>{-10,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,17},{211,286}}</string>
                <key>sourceSize</key>
                <string>{253,316}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>ThiefDisplayAni.png</string>
            <key>size</key>
            <string>{1665,864}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:30396f0fef06bfc23a94d2e8f4daaf23:58607b5ad2759d98fa729d4021b308c8:40af4f3d4a3b73f9316c9361315dcd9e$</string>
            <key>textureFileName</key>
            <string>ThiefDisplayAni.png</string>
        </dict>
    </dict>
</plist>
