<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Fire-Trap---Level-1_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{330,203},{10,4}}</string>
                <key>offset</key>
                <string>{0,-30}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,60},{10,4}}</string>
                <key>sourceSize</key>
                <string>{32,64}</string>
            </dict>
            <key>Fire-Trap---Level-1_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{147,209},{10,4}}</string>
                <key>offset</key>
                <string>{0,-30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,60},{10,4}}</string>
                <key>sourceSize</key>
                <string>{32,64}</string>
            </dict>
            <key>Fire-Trap---Level-1_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{370,207},{10,4}}</string>
                <key>offset</key>
                <string>{0,-30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,60},{10,4}}</string>
                <key>sourceSize</key>
                <string>{32,64}</string>
            </dict>
            <key>Fire-Trap---Level-1_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{370,207},{10,4}}</string>
                <key>offset</key>
                <string>{0,-30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,60},{10,4}}</string>
                <key>sourceSize</key>
                <string>{32,64}</string>
            </dict>
            <key>Fire-Trap---Level-1_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{87,203},{12,32}}</string>
                <key>offset</key>
                <string>{0,-16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,32},{12,32}}</string>
                <key>sourceSize</key>
                <string>{32,64}</string>
            </dict>
            <key>Fire-Trap---Level-1_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{264,185},{16,34}}</string>
                <key>offset</key>
                <string>{0,-15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,30},{16,34}}</string>
                <key>sourceSize</key>
                <string>{32,64}</string>
            </dict>
            <key>Fire-Trap---Level-1_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{300,185},{16,34}}</string>
                <key>offset</key>
                <string>{0,-15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,30},{16,34}}</string>
                <key>sourceSize</key>
                <string>{32,64}</string>
            </dict>
            <key>Fire-Trap---Level-1_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{183,181},{16,36}}</string>
                <key>offset</key>
                <string>{-1,-14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,28},{16,36}}</string>
                <key>sourceSize</key>
                <string>{32,64}</string>
            </dict>
            <key>Fire-Trap---Level-1_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{330,203},{10,4}}</string>
                <key>offset</key>
                <string>{0,-30}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,60},{10,4}}</string>
                <key>sourceSize</key>
                <string>{32,64}</string>
            </dict>
            <key>Fire-Trap---Level-2_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{121,196},{24,12}}</string>
                <key>offset</key>
                <string>{0,-26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,52},{24,12}}</string>
                <key>sourceSize</key>
                <string>{32,64}</string>
            </dict>
            <key>Fire-Trap---Level-2_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{226,237},{24,12}}</string>
                <key>offset</key>
                <string>{0,-26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,52},{24,12}}</string>
                <key>sourceSize</key>
                <string>{32,64}</string>
            </dict>
            <key>Fire-Trap---Level-2_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{252,237},{24,12}}</string>
                <key>offset</key>
                <string>{0,-26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,52},{24,12}}</string>
                <key>sourceSize</key>
                <string>{32,64}</string>
            </dict>
            <key>Fire-Trap---Level-2_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{278,237},{24,12}}</string>
                <key>offset</key>
                <string>{0,-26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,52},{24,12}}</string>
                <key>sourceSize</key>
                <string>{32,64}</string>
            </dict>
            <key>Fire-Trap---Level-2_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{183,153},{26,40}}</string>
                <key>offset</key>
                <string>{0,-12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,24},{26,40}}</string>
                <key>sourceSize</key>
                <string>{32,64}</string>
            </dict>
            <key>Fire-Trap---Level-2_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{151,153},{30,38}}</string>
                <key>offset</key>
                <string>{0,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,26},{30,38}}</string>
                <key>sourceSize</key>
                <string>{32,64}</string>
            </dict>
            <key>Fire-Trap---Level-2_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{263,153},{30,34}}</string>
                <key>offset</key>
                <string>{-1,-15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,30},{30,34}}</string>
                <key>sourceSize</key>
                <string>{32,64}</string>
            </dict>
            <key>Fire-Trap---Level-2_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{225,153},{30,36}}</string>
                <key>offset</key>
                <string>{0,-14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,28},{30,36}}</string>
                <key>sourceSize</key>
                <string>{32,64}</string>
            </dict>
            <key>Fire-Trap---Level-2_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{304,237},{24,12}}</string>
                <key>offset</key>
                <string>{0,-26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,52},{24,12}}</string>
                <key>sourceSize</key>
                <string>{32,64}</string>
            </dict>
            <key>Fire-Trap---Level-3_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{44,207},{41,8}}</string>
                <key>offset</key>
                <string>{1,-28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,56},{41,8}}</string>
                <key>sourceSize</key>
                <string>{43,64}</string>
            </dict>
            <key>Fire-Trap---Level-3_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{322,175},{42,8}}</string>
                <key>offset</key>
                <string>{0,-28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,56},{42,8}}</string>
                <key>sourceSize</key>
                <string>{42,64}</string>
            </dict>
            <key>Fire-Trap---Level-3_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{221,185},{41,8}}</string>
                <key>offset</key>
                <string>{-1,-28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,56},{41,8}}</string>
                <key>sourceSize</key>
                <string>{43,64}</string>
            </dict>
            <key>Fire-Trap---Level-3_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{44,153},{41,52}}</string>
                <key>offset</key>
                <string>{1,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,12},{41,52}}</string>
                <key>sourceSize</key>
                <string>{43,64}</string>
            </dict>
            <key>Fire-Trap---Level-3_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{325,1},{42,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,64}}</string>
                <key>sourceSize</key>
                <string>{42,64}</string>
            </dict>
            <key>Fire-Trap---Level-3_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{325,89},{41,64}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{41,64}}</string>
                <key>sourceSize</key>
                <string>{43,64}</string>
            </dict>
            <key>Fire-Trap---Level-3_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{325,132},{41,64}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{41,64}}</string>
                <key>sourceSize</key>
                <string>{43,64}</string>
            </dict>
            <key>Fire-Trap---Level-3_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{325,45},{42,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,64}}</string>
                <key>sourceSize</key>
                <string>{42,64}</string>
            </dict>
            <key>Fire-Trap---Level-3_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,153},{41,64}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{41,64}}</string>
                <key>sourceSize</key>
                <string>{43,64}</string>
            </dict>
            <key>Golden.png</key>
            <dict>
                <key>frame</key>
                <string>{{336,185},{32,28}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,3},{32,28}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>Suriken_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{60,217},{32,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,32}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>Suriken_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{94,217},{32,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,32}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>Suriken_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{160,209},{32,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,32}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>Suriken_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{194,199},{32,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,32}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>Suriken_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{228,195},{32,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,32}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>Suriken_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{262,203},{32,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,32}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>Suriken_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{296,203},{32,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,32}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>Suriken_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{330,215},{32,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,32}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>box1Close.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{160,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,150}}</string>
                <key>sourceSize</key>
                <string>{160,150}</string>
            </dict>
            <key>box1Open.png</key>
            <dict>
                <key>frame</key>
                <string>{{163,1},{160,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,150}}</string>
                <key>sourceSize</key>
                <string>{160,150}</string>
            </dict>
            <key>long_metal_spike_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{151,193},{30,14}}</string>
                <key>offset</key>
                <string>{0,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,34},{30,14}}</string>
                <key>sourceSize</key>
                <string>{32,48}</string>
            </dict>
            <key>long_metal_spike_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{370,175},{30,18}}</string>
                <key>offset</key>
                <string>{0,-15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,30},{30,18}}</string>
                <key>sourceSize</key>
                <string>{32,48}</string>
            </dict>
            <key>long_metal_spike_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{128,215},{30,34}}</string>
                <key>offset</key>
                <string>{0,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,14},{30,34}}</string>
                <key>sourceSize</key>
                <string>{32,48}</string>
            </dict>
            <key>long_metal_spike_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{87,153},{30,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{30,48}}</string>
                <key>sourceSize</key>
                <string>{32,48}</string>
            </dict>
            <key>small_wood_spike_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{194,233},{30,9}}</string>
                <key>offset</key>
                <string>{0,-25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,50},{30,9}}</string>
                <key>sourceSize</key>
                <string>{32,59}</string>
            </dict>
            <key>small_wood_spike_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{299,153},{30,21}}</string>
                <key>offset</key>
                <string>{0,-19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,38},{30,21}}</string>
                <key>sourceSize</key>
                <string>{32,59}</string>
            </dict>
            <key>small_wood_spike_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{119,153},{30,41}}</string>
                <key>offset</key>
                <string>{0,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,18},{30,41}}</string>
                <key>sourceSize</key>
                <string>{32,59}</string>
            </dict>
            <key>small_wood_spike_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,219},{30,57}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,2},{30,57}}</string>
                <key>sourceSize</key>
                <string>{32,59}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>TrapAni.png</string>
            <key>size</key>
            <string>{390,250}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:656de1dbdb3eb05476edca9f945572e9:06121afaeb4b3fd6d0ca6a13edf0669e:ff9785df4f159ea32ba17392d8b9cdb6$</string>
            <key>textureFileName</key>
            <string>TrapAni.png</string>
        </dict>
    </dict>
</plist>
