<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>t3order_zm_tx_allin01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{632,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{632,96}}</string>
                <key>sourceSize</key>
                <string>{632,96}</string>
            </dict>
            <key>t3order_zm_tx_allin02.png</key>
            <dict>
                <key>frame</key>
                <string>{{99,1},{632,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{632,96}}</string>
                <key>sourceSize</key>
                <string>{632,96}</string>
            </dict>
            <key>t3order_zm_tx_allin03.png</key>
            <dict>
                <key>frame</key>
                <string>{{197,1},{632,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{632,96}}</string>
                <key>sourceSize</key>
                <string>{632,96}</string>
            </dict>
            <key>t3order_zm_tx_allin04.png</key>
            <dict>
                <key>frame</key>
                <string>{{295,1},{632,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{632,96}}</string>
                <key>sourceSize</key>
                <string>{632,96}</string>
            </dict>
            <key>t3order_zm_tx_allin05.png</key>
            <dict>
                <key>frame</key>
                <string>{{393,1},{632,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{632,96}}</string>
                <key>sourceSize</key>
                <string>{632,96}</string>
            </dict>
            <key>t3order_zm_tx_allin06.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,635},{632,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{632,96}}</string>
                <key>sourceSize</key>
                <string>{632,96}</string>
            </dict>
            <key>t3order_zm_tx_allin07.png</key>
            <dict>
                <key>frame</key>
                <string>{{99,635},{632,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{632,96}}</string>
                <key>sourceSize</key>
                <string>{632,96}</string>
            </dict>
            <key>t3order_zm_tx_allin08.png</key>
            <dict>
                <key>frame</key>
                <string>{{197,635},{632,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{632,96}}</string>
                <key>sourceSize</key>
                <string>{632,96}</string>
            </dict>
            <key>t3order_zm_tx_allin09.png</key>
            <dict>
                <key>frame</key>
                <string>{{295,635},{632,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{632,96}}</string>
                <key>sourceSize</key>
                <string>{632,96}</string>
            </dict>
            <key>t3order_zm_tx_allin10.png</key>
            <dict>
                <key>frame</key>
                <string>{{393,635},{632,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{632,96}}</string>
                <key>sourceSize</key>
                <string>{632,96}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>UIFireEffect.png</string>
            <key>size</key>
            <string>{490,1268}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9c51f21ecce0e325c16e6e7ddff5893c:a3c620c6ec401142d12e1472dbeef68e:c3adc23aa785ef950a47c30bdb6a6f5e$</string>
            <key>textureFileName</key>
            <string>UIFireEffect.png</string>
        </dict>
    </dict>
</plist>
